In [6]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup
print(selenium.__version__)

4.20.0

In [16]:
# Initialize WebDriver
driver = webdriver.Chrome()  # Assuming you're using Chrome

216

In [8]:
url_liv_cost ='https://www.numbeo.com/cost-of-living/rankings.jsp'

In [9]:
df_capital = pd.DataFrame()

In [10]:
# Fetch data using Selenium
driver.get(url_liv_cost)

# Find Table element
tbl_cost = driver.find_element(By.XPATH, '//*[@id="t2_wrapper"]')  # if there's no ID, always a good idea to copy xpath

# Parse Table element into pandas DataFrame
table_cost_html = tbl_cost.get_attribute('outerHTML')
soup = BeautifulSoup(table_cost_html, 'html.parser')

# Find all table rows in the parsed HTML
table_cost_rows = soup.find_all('tr')

In [11]:
# Initialize data list
data_cost = []
for row in table_cost_rows:
        row_data = []
        cells = row.find_all(['td', 'th'])
        for cell in cells:
            row_data.append(cell.get_text().strip())
        data_cost.append(row_data)

# Print out data structure for debugging
print("Columns:", data_cost[0])
print("Data:", data_cost[1:])

Columns: ['Rank', 'City', 'Cost of Living Index', 'Rent Index', 'Cost of Living Plus Rent Index', 'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index']

In [12]:
# Extract header and data rows separately
header = data_cost[0]
data = data_cost[1:]

# Create DataFrame
df_capital = pd.DataFrame(data, columns=header)

# Display DataFrame
print(df_capital)
df_capital.head(20)

    Rank                   City Cost of Living Index Rent Index  \
0      1      Hamilton, Bermuda                137.4       94.7
1      2     Basel, Switzerland                120.2       46.6
2      3    Zurich, Switzerland                118.3       64.4
3      4  Lausanne, Switzerland                117.7       46.4
4      5      Bern, Switzerland                110.5       42.3
..   ...                    ...                  ...        ...
365  366           Kochi, India                 20.6        6.6
366  367      Coimbatore, India                 20.4        4.0
367  368    Islamabad, Pakistan                 20.3        4.7
368  369       Lahore, Pakistan                 19.7        3.3
369  370      Karachi, Pakistan                 19.3        3.0

    Cost of Living Plus Rent Index Groceries Index Restaurant Price Index  \
0                            117.2           147.7                  131.3
1                             85.3           135.7                  106.7
2                             92.7           121.0                  109.0
3                             83.9           123.3                  106.2
4                             78.2           108.3                   96.5
..                             ...             ...                    ...
365                           14.0            23.1                   10.7
366                           12.6            23.8                   11.0
367                           12.9            18.1                   14.1
368                           11.9            16.5                   15.1
369                           11.6            17.4                   12.2

    Local Purchasing Power Index
0                           82.3
1                          133.5
2                          132.7
3                          106.7
4                          130.7
..                           ...
365                         60.7
366                         42.5
367                         24.7
368                         26.3
369                         23.8

[370 rows x 8 columns]

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"Hamilton, Bermuda",137.4,94.7,117.2,147.7,131.3,82.3
1,2,"Basel, Switzerland",120.2,46.6,85.3,135.7,106.7,133.5
2,3,"Zurich, Switzerland",118.3,64.4,92.7,121.0,109.0,132.7
3,4,"Lausanne, Switzerland",117.7,46.4,83.9,123.3,106.2,106.7
4,5,"Bern, Switzerland",110.5,42.3,78.2,108.3,96.5,130.7
5,6,"Geneva, Switzerland",109.8,66.8,89.4,114.0,107.3,112.2
6,7,"New York, NY, United States",100.0,100.0,100.0,100.0,100.0,100.0
7,8,"San Francisco, CA, United States",92.5,83.9,88.4,97.5,85.6,136.0
8,9,"Honolulu, HI, United States",92.4,57.4,75.8,103.8,76.0,81.3
9,10,"San Jose, CA, United States",90.5,72.2,81.8,90.4,83.5,139.7
10,11,"Boston, MA, United States",89.2,72.7,81.4,94.5,85.7,113.6
11,12,"Reykjavik, Iceland",88.5,45.0,67.9,90.1,92.6,81.2
12,13,"Seattle, WA, United States",87.7,61.9,75.4,87.1,79.9,156.2
13,14,"Canberra, Australia",87.5,42.4,66.1,80.8,105.7,66.2
14,15,"San Diego, CA, United States",86.4,78.5,82.6,77.2,82.5,102.6
15,16,"Trondheim, Norway",86.3,30.2,59.7,77.9,87.9,91.5
16,17,"Los Angeles, CA, United States",85.1,67.1,76.6,84.4,87.7,135.8
17,18,"Washington, DC, United States",84.8,73.0,79.2,83.1,86.0,138.8
18,19,"Bergen, Norway",84.5,28.0,57.7,83.1,81.9,82.2
19,20,"Sacramento, CA, United States",83.7,53.0,69.1,86.4,63.3,116.3

In [15]:
# Define the file path
file_path = r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv'

# Export DataFrame to a CSV file
df_capital.to_csv(file_path, index=False)

print("DataFrame exported successfully to:", file_path)

DataFrame exported successfully to: C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv

In [ ]:
print(len(data_cost))

371