In [6]:
# mount gdrive

from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [17]:
import pandas as pd

def load_csvs(file_paths):
    dataframes = []
    for path in file_paths:
        try:
            df = pd.read_csv(path)
            dataframes.append(df)
            print(f"Loaded {path} successfully.")
        except FileNotFoundError:
            print(f"File {path} not found.")
        except Exception as e:
            print(f"An error occurred while loading {path}: {e}")
    return dataframes

if __name__ == "__main__":
    # List of file paths
    file_paths = [r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv",
                  r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_prop_price.csv",
                r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv",
                r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost_appended.csv"
                ]


# if __name__ == "__main__":
#     # List of file paths
#     file_paths = ["/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Scraped_csvs/data_cost.csv",
#                   "/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Scraped_csvs/data_prop_price.csv",
#                   "/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Scraped_csvs/data_qual.csv",
#                   "/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Scraped_csvs/data_cost_appended.csv"
#                 ]


    # Load CSV files into dataframes
    dfs = load_csvs(file_paths)

Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv successfully.
Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_prop_price.csv successfully.
Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv successfully.
Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost_appended.csv successfully.

In [18]:
# Removing the columns with duplicate names from dataframes: 'Rank' and 'Cost of Living Index' (df2)

for df in dfs:
    if 'Rank' in df.columns:
        df.drop(columns=['Rank'], inplace=True)

dfs[2].drop(columns=['Cost of Living Index'], inplace=True)

In [19]:
dfs[0]

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,"Hamilton, Bermuda",137.4,94.7,117.2,147.7,131.3,82.3
1,"Basel, Switzerland",120.2,46.6,85.3,135.7,106.7,133.5
2,"Zurich, Switzerland",118.3,64.4,92.7,121.0,109.0,132.7
3,"Lausanne, Switzerland",117.7,46.4,83.9,123.3,106.2,106.7
4,"Bern, Switzerland",110.5,42.3,78.2,108.3,96.5,130.7
...,...,...,...,...,...,...,...
365,"Kochi, India",20.6,6.6,14.0,23.1,10.7,60.7
366,"Coimbatore, India",20.4,4.0,12.6,23.8,11.0,42.5
367,"Islamabad, Pakistan",20.3,4.7,12.9,18.1,14.1,24.7
368,"Lahore, Pakistan",19.7,3.3,11.9,16.5,15.1,26.3
369,"Karachi, Pakistan",19.3,3.0,11.6,17.4,12.2,23.8

In [20]:
dfs[1]

,City,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index
0,"Addis Ababa, Ethiopia",51.6,6.6,4.8,15.2,20.7,861.5,0.1
1,"Douala, Cameroon",48.3,10.3,13.0,9.7,7.7,948.9,0.1
2,"Shanghai, China",43.5,1.6,1.5,62.6,65.8,337.0,0.3
3,"Colombo, Sri Lanka",39.1,4.2,2.1,23.7,47.3,788.5,0.1
4,"Tehran, Iran",39.1,4.4,5.0,22.5,20.1,933.2,0.1
...,...,...,...,...,...,...,...,...
261,"Saint Louis, MO, United States",2.1,13.0,13.0,7.7,7.7,19.0,5.3
262,"Memphis, TN, United States",1.8,15.9,15.6,6.3,6.4,16.6,6.0
263,"Milwaukee, WI, United States",1.8,19.7,16.4,5.1,6.1,16.4,6.1
264,"Indianapolis, IN, United States",1.5,19.4,16.6,5.2,6.0,13.7,7.3
265,"Detroit, MI, United States",1.2,32.9,21.8,3.0,4.6,11.0,9.1

In [21]:
dfs[2]

,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,"The Hague (Den Haag), Netherlands",224.1,138.9,79.9,80.6,5.7,21.3,17.6,90.6
1,"Luxembourg, Luxembourg",221.3,171.5,71.1,78.2,9.2,26.6,19.6,82.6
2,"Eindhoven, Netherlands",214.3,133.3,77.8,78.3,6.0,24.9,19.6,85.4
3,"Rotterdam, Netherlands",214.1,140.6,71.7,80.6,5.3,23.4,24.7,87.9
4,"Valencia, Spain",202.5,98.7,72.8,80.6,5.2,22.8,23.4,93.8
...,...,...,...,...,...,...,...,...,...
194,"Caracas, Venezuela",64.4,11.7,18.1,38.1,27.7,33.7,73.9,99.9
195,"Dhaka, Bangladesh",61.1,32.1,37.4,40.2,14.3,61.4,94.2,71.3
196,"Manila, Philippines",53.7,33.6,35.3,62.5,33.4,51.7,89.8,61.2
197,"Tehran, Iran",53.3,20.6,43.2,53.2,39.1,51.8,80.4,71.0
198,"Lagos, Nigeria",44.4,12.2,31.7,47.5,18.4,68.8,89.0,60.8

In [22]:
dfs[3]

                                   City  Cost of Living Index
0                      Douala, Cameroon                  42.3
1                         Baghdad, Iraq                  38.5
2             Guatemala City, Guatemala                  38.6
3                       Oradea, Romania                  38.8
4              Palma de Mallorca, Spain                  64.2
5                  Bolzano-Bozen, Italy                  70.8
6                   Chelyabinsk, Russia                  31.7
7                  Haarlem, Netherlands                  71.3
8                         Rimini, Italy                  68.1
9             Irvine, CA, United States                  80.4
10           Oakland, CA, United States                  78.9
11                       Turku, Finland                  72.3
12              Reno, NV, United States                  72.1
13         Ann Arbor, MI, United States                  73.5
14           Madison, WI, United States                  70.2
15         Anchorage, AK, United States                  74.4
16  Colorado Springs, CO, United States                  69.8
17       Kansas City, MO, United States                  68.5
18             Tulsa, OK, United States                  65.7
19         Baltimore, MD, United States                  70.4
20             Omaha, NE, United States                  67.9
21           Memphis, TN, United States                  62.3
22         Milwaukee, WI, United States                  66.7
23           Detroit, MI, United States                  63.5

In [23]:
merged_df = pd.merge(dfs[0], dfs[1], on='City', how='outer')
merged_df = pd.merge(merged_df, dfs[2], on='City', how='outer')
merged_df = pd.merge(merged_df, dfs[3], on='City', how='outer')

In [24]:
merged_df.head()
# print(merged_df)
# merged_df.shape

,City,Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,...,Affordability Index,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Cost of Living Index_y
0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,7.7,4.1,4.7,...,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,6.5,6.0,5.4,...,1.9,184.7,141.1,88.1,71.0,6.5,31.7,46.6,43.9,NaN
4,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
merged_df.shape

(394, 23)

# Replacing NaNs

##Rearranging and renaming the columns

In [26]:
# prompt: Rename "City" to "City, Country_0", then create a new column in merged_df from the last string after the comma or (), then create a new column called City from the first string before the coma or () in City, Country

# Rename "City" to "City, Country_0"
merged_df.rename(columns={'City': 'City, Country_0'}, inplace=True)

# Create a new column from the last string after the comma or ()
merged_df['Country'] = merged_df['City, Country_0'].str.split(',').str[-1].str.split('(').str[0]

# Create a new column called City from the first string before the coma or ()
merged_df['City'] = merged_df['City, Country_0'].str.split(',').str[0].str.split('(').str[0]

# Print the first five rows of the merged_df DataFrame
merged_df.head()

,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,...,Purchasing Power Index,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Cost of Living Index_y,Country,City
0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Aachen
1,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,7.7,4.1,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,Aarhus
2,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,Aberdeen
3,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,6.5,6.0,5.4,...,141.1,88.1,71.0,6.5,31.7,46.6,43.9,NaN,United Arab Emirates,Abu Dhabi
4,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ghana,Accra

In [27]:
# prompt: in merged_df concatenate City and Country as 'City, Country' and add it to a new column named 'City, Country'

merged_df['City, Country'] = merged_df['City'] + ',' + merged_df['Country']

merged_df.head()

,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Cost of Living Index_y,Country,City,"City, Country"
0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Aachen,"Aachen, Germany"
1,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,7.7,4.1,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,Aarhus,"Aarhus, Denmark"
2,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,Aberdeen,"Aberdeen, United Kingdom"
3,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,6.5,6.0,5.4,...,88.1,71.0,6.5,31.7,46.6,43.9,NaN,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates"
4,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ghana,Accra,"Accra, Ghana"

In [28]:
# Merging 'Cost of Living Index_x' and 'Cost of Living Index_y' into one column called 'Cost of Living Index'

merged_df['Cost of Living Index'] = merged_df[['Cost of Living Index_x', 'Cost of Living Index_y']].mean(axis=1)
merged_df.drop(['Cost of Living Index_x', 'Cost of Living Index_y'], axis=1, inplace=True)
merged_df.head()

,"City, Country_0",Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country",Cost of Living Index
0,"Aachen, Germany",20.5,42.0,56.7,52.1,110.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Aachen,"Aachen, Germany",61.3
1,"Aarhus, Denmark",29.8,54.6,70.1,81.7,103.9,7.7,4.1,4.7,24.6,...,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,Aarhus,"Aarhus, Denmark",77.0
2,"Aberdeen, United Kingdom",24.4,45.8,56.1,61.3,113.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,Aberdeen,"Aberdeen, United Kingdom",65.1
3,"Abu Dhabi, United Arab Emirates",46.8,53.4,43.1,63.6,105.9,6.5,6.0,5.4,16.6,...,88.1,71.0,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates",59.3
4,"Accra, Ghana",10.6,19.4,29.0,23.2,14.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ghana,Accra,"Accra, Ghana",27.4

In [29]:
# save merged_df as csv file

merged_df.to_csv('/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Modified_csvs/merged_df.csv')

OSError: Cannot save file into a non-existent directory: '\content\drive\MyDrive\Colab Notebooks Shared\DE\Project\Modified_csvs'

##Replacing NaNs and Rounding the numbers

### Mocking about with MARS and pyGAM

In [ ]:
pip install pygam pandas numpy

Collecting pygam
  Downloading pygam-0.9.1-py3-none-any.whl (522 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 522.0/522.0 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pygam) (4.2.0)
Requirement already satisfied: scipy<1.12,>=1.11.1 in /usr/local/lib/python3.10/dist-packages (from pygam) (1.11.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: python-utils>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from progressbar2<5.0.0,>=4.2.0->pygam) (3.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>3.10.0.2 in /usr/local/lib/python3.10/dist-packages (from python-utils>=3.0.0->progressbar2<5.0.0,>=4.2.0->pygam) (4.11.0)
Installing collected packages: pygam
Successfully installed pygam-0.9.1

In [ ]:
import pandas as pd
import numpy as np
from pygam import LinearGAM

# Assuming merged_df is your dataframe
# Create a copy to avoid modifying the original dataframe
df = merged_df.copy()

# Specify the column with NaN values to be filled
target_column = ['Rent Index', 'Cost of Living Plus Rent Index', 'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index', 'Price To Income Ratio', 'Gross Rental Yield City Centre', 'Gross Rental Yield Outside of Centre', 'Price To Rent Ratio City Centre', 'Price To Rent Ratio Outside Of City Centre', 'Mortgage As A Percentage Of Income', 'Affordability Index', 'Quality of Life Index', 'Purchasing Power Index', 'Safety Index', 'Health Care Index', 'Property Price to Income Ratio', 'Traffic Commute Time Index', 'Pollution Index', 'Climate Index']  # Replace with the actual column name you want to fill

# Select only the columns with numerical values
numerical_columns = df.select_dtypes(include=[np.number]).columns

# Ensure 'Cost of Living Index' is included in feature columns
feature_columns = numerical_columns

# Separate rows with and without NaN in the target column
train_df = df[df[target_column].notna()]
predict_df = df[df[target_column].isna()]

# Prepare the training data
X_train = train_df[feature_columns].values
y_train = train_df[target_column].values

# Fit the GAM model
gam = LinearGAM().fit(X_train, y_train)

# Prepare the data for prediction
X_predict = predict_df[feature_columns].values

# Predict the missing values
predicted_values = gam.predict(X_predict)

# Fill the NaN values with the predicted values
df.loc[df[target_column].isna(), target_column] = predicted_values

# If you want to update the original dataframe
merged_df[target_column] = df[target_column]

print(merged_df)

ValueError: y data must not contain Inf nor NaN

In [ ]:
!pip install pyearth

In [ ]:
pip install git+https://github.com/scikit-learn-contrib/py-earth@v0.2dev

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from pyearth import Earth

# Ensure your DataFrame is loaded into merged_df
# merged_df = pd.read_csv('your_data.csv')

# Separate the features and target
target_column = 'Cost of Living Index'
X = merged_df.drop(columns=[target_column])
y = merged_df[target_column]

# Handling initial NaNs in features by simple imputation
# This step ensures that MARS can be fitted on data without NaNs in features
feature_imputer = SimpleImputer(strategy='mean')
X_imputed = feature_imputer.fit_transform(X)

# Creating a mask to identify NaN values in the target column
nan_mask = y.isna()

# Fitting the MARS model on non-NaN target values
mars = Earth()
mars.fit(X_imputed[~nan_mask], y[~nan_mask])

# Predicting the NaN values in the target column
y_pred = mars.predict(X_imputed[nan_mask])

# Filling the NaN values in the target column with the predictions
merged_df.loc[nan_mask, target_column] = y_pred

print(merged_df)

In [ ]:
!pip install pygam

In [ ]:
import pandas as pd
import numpy as np
from pygam import LinearGAM

# Assuming merged_df is your DataFrame
# merged_df = pd.read_csv('your_data.csv')

# Identify columns with numerical values
numerical_columns = merged_df.select_dtypes(include=[np.number]).columns

# Iterate through each numerical column and fill NaN values using pyGAM
for col in numerical_columns:
    if merged_df[col].isna().sum() > 0:
        # Prepare data for training
        not_na_index = merged_df[~merged_df[col].isna()].index
        na_index = merged_df[merged_df[col].isna()].index

        # Features to use for predicting NaN values
        X_train = merged_df.loc[not_na_index].drop(columns=[col]).values
        y_train = merged_df.loc[not_na_index, col].values

        # Columns for prediction (excluding target column)
        X_pred = merged_df.loc[na_index].drop(columns=[col]).values

        # Fit the GAM model
        gam = LinearGAM().fit(X_train, y_train)

        # Predict NaN values
        y_pred = gam.predict(X_pred)

        # Fill NaN values with predictions
        merged_df.loc[na_index, col] = y_pred

print("Filled NaN values using pyGAM.")

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np
from pygam import LinearGAM, s

# Assume merged_df is already loaded
# merged_df = pd.read_csv('your_data.csv')  # Example loading of data

# Step 2: Define a function to impute missing values using pyGAM for numeric columns only
def impute_with_pygam(df, target_column):
    # Ensure the target column is numeric
    if not np.issubdtype(df[target_column].dtype, np.number):
        raise ValueError(f"Target column '{target_column}' must be numeric.")

    # Split the data into features (X) and target (y)
    X = df.drop(columns=[target_column])
    y = df[target_column]

    # Filter out non-numeric columns from the features
    X = X.select_dtypes(include=[np.number])

    # Identify rows with missing target values
    missing_mask = y.isna()

    # Separate the data into training and prediction sets
    X_train = X[~missing_mask]
    y_train = y[~missing_mask]
    X_missing = X[missing_mask]

    # Impute missing values in the features using the mean of each column
    X_train = X_train.fillna(X_train.mean())
    X_missing = X_missing.fillna(X_train.mean())

    # Display the separated data (optional)
    print("Training Features (X_train):\n", X_train)
    print("Training Target (y_train):\n", y_train)
    print("Missing Features (X_missing):\n", X_missing)

    # Fit the pyGAM model
    gam = LinearGAM().fit(X_train, y_train)

    # Predict the missing values
    y_missing_pred = gam.predict(X_missing)

    # Fill the missing values in the original DataFrame
    df.loc[missing_mask, target_column] = y_missing_pred

    return df

# Step 3: Apply imputation to the 'Cost of Living Index' column
target_column = 'Cost of Living Index'
if merged_df[target_column].isna().sum() > 0:
    merged_df2 = impute_with_pygam(merged_df, target_column)

# Display the DataFrame after imputation
merged_df2.head()

### FIlling the NaN's using averages

In [30]:
# for numeric data only, replace the NaN's with the average values of the same columns who share a similar Country, change the data frame name to merged_filled1_ df, for numeric data only round the floats to one decimal number

# Create a copy of the dataframe
merged_filled1_df = merged_df.copy()

# Select numeric columns
numeric_columns = merged_filled1_df.select_dtypes(include=['float64', 'int64']).columns

# Group the dataframe by country and calculate the mean for each numeric column
country_means = merged_filled1_df.groupby('Country')[numeric_columns].mean().round(1)

# Replace NaN values in the numeric columns with the corresponding country mean
for col in numeric_columns:
    for country in country_means.index:
        merged_filled1_df.loc[(merged_filled1_df['Country'] == country) & (merged_filled1_df[col].isna()), col] = country_means.loc[country, col]

# Display the first few rows of the dataframe
merged_filled1_df.head()
merged_filled1_df.shape

(394, 25)

In [31]:
merged_filled1_df.isnull().sum()

City, Country_0                                0
Rent Index                                     3
Cost of Living Plus Rent Index                 3
Groceries Index                                3
Restaurant Price Index                         3
Local Purchasing Power Index                   3
Price To Income Ratio                         11
Gross Rental Yield City Centre                11
Gross Rental Yield Outside of Centre          11
Price To Rent Ratio City Centre               11
Price To Rent Ratio Outside Of City Centre    11
Mortgage As A Percentage Of Income            11
Affordability Index                           11
Quality of Life Index                         29
Purchasing Power Index                        29
Safety Index                                  29
Health Care Index                             29
Property Price to Income Ratio                29
Traffic Commute Time Index                    29
Pollution Index                               29
Climate Index                                 29
Country                                        0
City                                           0
City, Country                                  0
Cost of Living Index                           0
dtype: int64

In [32]:
# This is for NaNs that don't have equivalent data from the same country

# prompt: for numeric data only, replace the NaN's with the average values of the same columns, change the data frame name to merged_filled2_ df

# Create a copy of the dataframe
merged_filled2_df = merged_filled1_df.copy()

# Select numeric columns
numeric_columns = merged_filled2_df.select_dtypes(include=['float64', 'int64']).columns

# Calculate the average values for each numeric column
column_means = merged_filled2_df[numeric_columns].mean()

# Replace NaN values with the average values
merged_filled2_df[numeric_columns] = merged_filled2_df[numeric_columns].fillna(column_means)

# Display the first few rows of the dataframe
merged_filled2_df.head()

,"City, Country_0",Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country",Cost of Living Index
0,"Aachen, Germany",20.5,42.0,56.7,52.1,110.7,10.000000,3.30000,3.600000,30.700000,...,61.700000,74.800000,9.400000,30.400000,33.300000,82.100000,Germany,Aachen,"Aachen, Germany",61.3
1,"Aarhus, Denmark",29.8,54.6,70.1,81.7,103.9,7.700000,4.10000,4.700000,24.600000,...,74.400000,77.000000,8.400000,27.700000,21.100000,83.700000,Denmark,Aarhus,"Aarhus, Denmark",77.0
2,"Aberdeen, United Kingdom",24.4,45.8,56.1,61.3,113.8,11.200000,4.40000,4.900000,23.200000,...,50.000000,74.800000,8.800000,35.800000,44.700000,86.300000,United Kingdom,Aberdeen,"Aberdeen, United Kingdom",65.1
3,"Abu Dhabi, United Arab Emirates",46.8,53.4,43.1,63.6,105.9,6.500000,6.00000,5.400000,16.600000,...,88.100000,71.000000,6.500000,31.700000,46.600000,43.900000,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates",59.3
4,"Accra, Ghana",10.6,19.4,29.0,23.2,14.3,12.135248,5.64282,5.736815,23.346475,...,57.853425,67.508493,12.152603,36.078356,49.834521,77.721096,Ghana,Accra,"Accra, Ghana",27.4

In [33]:
merged_filled2_df.isnull().sum()

City, Country_0                               0
Rent Index                                    0
Cost of Living Plus Rent Index                0
Groceries Index                               0
Restaurant Price Index                        0
Local Purchasing Power Index                  0
Price To Income Ratio                         0
Gross Rental Yield City Centre                0
Gross Rental Yield Outside of Centre          0
Price To Rent Ratio City Centre               0
Price To Rent Ratio Outside Of City Centre    0
Mortgage As A Percentage Of Income            0
Affordability Index                           0
Quality of Life Index                         0
Purchasing Power Index                        0
Safety Index                                  0
Health Care Index                             0
Property Price to Income Ratio                0
Traffic Commute Time Index                    0
Pollution Index                               0
Climate Index                                 0
Country                                       0
City                                          0
City, Country                                 0
Cost of Living Index                          0
dtype: int64

# Editing rows and columns to match the new dataset

In [ ]:
# prompt: for numeric data only, round the data in all the merged_filled2_df to one decimal figure

import numpy as np

# Round numeric data to one decimal figure
for col in merged_filled2_df.select_dtypes(include=['float64', 'int64']):
    merged_filled2_df[col] = np.round(merged_filled2_df[col], 1)

# Display the first few rows of the dataframe
merged_filled2_df.head()

,"City, Country_0",Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country",Cost of Living Index
0,"Hamilton, Bermuda",94.7,117.2,147.7,131.3,82.3,12.1,5.6,5.7,23.3,...,57.9,67.5,12.2,36.1,49.8,77.7,Bermuda,Hamilton,"Hamilton, Bermuda",137.4
1,"Basel, Switzerland",46.6,85.3,135.7,106.7,133.5,12.4,2.2,1.8,46.1,...,73.4,70.8,13.4,35.0,24.0,82.0,Switzerland,Basel,"Basel, Switzerland",120.2
2,"Zurich, Switzerland",64.4,92.7,121.0,109.0,132.7,14.0,1.9,2.3,51.4,...,77.3,69.9,14.0,38.9,23.0,81.5,Switzerland,Zurich,"Zurich, Switzerland",118.3
3,"Lausanne, Switzerland",46.4,83.9,123.3,106.2,106.7,12.6,2.2,2.3,45.1,...,73.4,70.8,13.4,35.0,24.0,82.0,Switzerland,Lausanne,"Lausanne, Switzerland",117.7
4,"Bern, Switzerland",42.3,78.2,108.3,96.5,130.7,11.4,2.2,2.3,45.5,...,73.4,70.8,13.4,35.0,24.0,82.0,Switzerland,Bern,"Bern, Switzerland",110.5

In [ ]:
# sort data in merged_filled3_df by 'City, Country'

merged_filled3_df = merged_filled2_df.sort_values(by='City, Country', inplace=False)


merged_filled3_df.head()

,"City, Country_0",Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country",Cost of Living Index
155,"Aachen, Germany",20.5,42.0,56.7,52.1,110.7,10.0,3.3,3.6,30.7,...,61.7,74.8,9.4,30.4,33.3,82.1,Germany,Aachen,"Aachen, Germany",61.3
35,"Aarhus, Denmark",29.8,54.6,70.1,81.7,103.9,7.7,4.1,4.7,24.6,...,74.4,77.0,8.4,27.7,21.1,83.7,Denmark,Aarhus,"Aarhus, Denmark",77.0
122,"Aberdeen, United Kingdom",24.4,45.8,56.1,61.3,113.8,11.2,4.4,4.9,23.2,...,50.0,74.8,8.8,35.8,44.7,86.3,United Kingdom,Aberdeen,"Aberdeen, United Kingdom",65.1
163,"Abu Dhabi, United Arab Emirates",46.8,53.4,43.1,63.6,105.9,6.5,6.0,5.4,16.6,...,88.1,71.0,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates",59.3
344,"Accra, Ghana",10.6,19.4,29.0,23.2,14.3,12.1,5.6,5.7,23.3,...,57.9,67.5,12.2,36.1,49.8,77.7,Ghana,Accra,"Accra, Ghana",27.4

In [ ]:
merged_filled3_df.shape

NameError: name 'merged_filled3_df' is not defined

In [ ]:
# Save merged_filled2_df as a CSV file

merged_filled3_df.to_csv("/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Modified_csvs/Merged_filled3.csv", index=False)

# merged_filled3_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\merged_csvs\merged_filled3.csv", index=False)

In [ ]:
# prompt: standard scale the numeric data in merged_filled3_df

from sklearn.preprocessing import StandardScaler

# Create a new dataframe to store the scaled data
scaled_df = merged_filled3_df.copy()

# Select numeric columns
numeric_columns = scaled_df.select_dtypes(include=['float64', 'int64']).columns

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the numeric data
scaler.fit(scaled_df[numeric_columns])

# Transform the numeric data using the fitted scaler
scaled_df[numeric_columns] = scaler.transform(scaled_df[numeric_columns])

# Display the first few rows of the scaled dataframe
scaled_df.head()

,"City, Country_0",Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,...,Safety Index,Health Care Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country",Cost of Living Index
155,"Aachen, Germany",-0.318369,0.065166,0.207071,0.179901,1.118540,-0.286783,-0.692348,-0.731207,0.628340,...,0.290357,0.887294,-0.376805,-0.731291,-0.866963,0.293436,Germany,Aachen,"Aachen, Germany",0.365873
35,"Aarhus, Denmark",0.225409,0.763591,0.848687,1.514898,0.914375,-0.595836,-0.455812,-0.354612,0.107203,...,1.249864,1.154986,-0.513523,-1.078915,-1.506750,0.400616,Denmark,Aarhus,"Aarhus, Denmark",1.152886
122,"Aberdeen, United Kingdom",-0.090333,0.275802,0.178342,0.594833,1.211615,-0.125538,-0.367111,-0.286140,-0.012403,...,-0.593599,0.887294,-0.458836,-0.036043,-0.269129,0.574783,United Kingdom,Aberdeen,"Aberdeen, United Kingdom",0.556360
163,"Abu Dhabi, United Arab Emirates",1.219413,0.697074,-0.444122,0.698566,0.974424,-0.757082,0.105961,-0.114960,-0.576257,...,2.284924,0.424916,-0.773286,-0.563916,-0.169490,-2.265486,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates",0.265616
344,"Accra, Ghana",-0.897230,-1.187564,-1.119256,-1.123525,-1.775797,-0.004604,-0.012307,-0.012252,-0.003860,...,0.003260,-0.000957,0.006003,0.002582,-0.001677,-0.001309,Ghana,Accra,"Accra, Ghana",-1.333475

#Translating Some Features

In [ ]:
# prompt: create a pair plot for the columns with numeric values in scaled_df

import seaborn as sns
import matplotlib.pyplot as plt

# Select numeric columns
numeric_columns = scaled_df.select_dtypes(include=['float64', 'int64']).columns

# Create a pair plot
sns.pairplot(scaled_df[numeric_columns], diag_kind="kde")

# Display the plot
plt.show()

Output hidden; open in https://colab.research.google.com to view.

#New Cities Dataframe

In [ ]:
# UNCOMMENT THE RELEVANT PATH

# read csv file "/content/drive/MyDrive/Colab Notebooks/DE/Project/Raw_csvs/worldcities.csv" from Gdrive

all_cities_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Raw_csvs/worldcities.csv")

# all_cities_df = pd.read_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\worldcities.csv")


all_cities_df.head(10)

,City,Country,Lat,Lng,iso2,iso3,Population,ID
0,Tokyo,Japan,35.6897,139.6922,JP,JPN,37732000.0,1392685764
1,Jakarta,Indonesia,-6.1750,106.8275,ID,IDN,33756000.0,1360771077
2,Delhi,India,28.6100,77.2300,IN,IND,32226000.0,1356872604
3,Guangzhou,China,23.1300,113.2600,CN,CHN,26940000.0,1156237133
4,Mumbai,India,19.0761,72.8775,IN,IND,24973000.0,1356226629
5,Manila,Philippines,14.5958,120.9772,PH,PHL,24922000.0,1608618140
6,Shanghai,China,31.2286,121.4747,CN,CHN,24073000.0,1156073548
7,Sao Paulo,Brazil,-23.5500,-46.6333,BR,BRA,23086000.0,1076532519
8,Seoul,"Korea, South",37.5600,126.9900,KR,KOR,23016000.0,1410836482
9,Mexico City,Mexico,19.4333,-99.1333,MX,MEX,21804000.0,1484247881

In [ ]:
all_cities_df.shape

(47868, 8)

In [ ]:
# Creating a column named "Country,City" to use for merging the two datasets because some countries have similar city names

all_cities_df['City, Country'] = all_cities_df['City'] + ', ' + all_cities_df['Country']

# prompt: sort all_cities_df by 'Population'

all_cities_df.sort_values(by='Population', inplace=True, ascending=False)

all_cities_df.head()

,City,Country,Lat,Lng,iso2,iso3,Population,ID,"City, Country"
0,Tokyo,Japan,35.6897,139.6922,JP,JPN,37732000.0,1392685764,"Tokyo, Japan"
1,Jakarta,Indonesia,-6.1750,106.8275,ID,IDN,33756000.0,1360771077,"Jakarta, Indonesia"
2,Delhi,India,28.6100,77.2300,IN,IND,32226000.0,1356872604,"Delhi, India"
3,Guangzhou,China,23.1300,113.2600,CN,CHN,26940000.0,1156237133,"Guangzhou, China"
4,Mumbai,India,19.0761,72.8775,IN,IND,24973000.0,1356226629,"Mumbai, India"

In [ ]:
# prompt: in all_cities_df, remove rows with duplicated 'City, Country' values

all_cities_df = all_cities_df.drop_duplicates(subset='City, Country', keep='first')

all_cities_df.shape

(45640, 9)

In [ ]:
# prompt: in 'all_cities.df', extract the rows that share the same 'City, Country' value with the rows in 'merged_filled3_df'    name the new data frame 'shared_cities_df'

shared_cities_df = all_cities_df[all_cities_df['City, Country'].isin(merged_filled3_df['City, Country'])]

shared_cities_df.shape

(360, 9)

In [ ]:
cities_1000_df = all_cities_df.head(1000)

cities_1000_df.shape

(1000, 9)

In [ ]:
# merge merged_filled3_df and cities_1000_df and shared_cities_df at 'City, Country'

merged_df_cities = pd.merge(merged_filled3_df, cities_1000_df, on='City, Country', how='outer')

merged_cities_df = pd.merge(merged_df_cities, shared_cities_df, on='City, Country', how='outer')

merged_cities_df.head(20)
merged_cities_df.shape

(1177, 41)

In [ ]:
merged_cities_df.to_csv("/content/drive/MyDrive/Colab Notebooks Shared/DE/Project/Modified_csvs/merged_cities_df.csv")

In [ ]:
# # Print the unique cities in kpis_clean
# unique_cities = all_cities_df['City'].unique()
# print(unique_cities)

# # Count the number of unique cities
# unique_city_count = len(unique_cities)
# print(f"Number of unique cities: {unique_city_count}")

In [ ]:
# Assuming all_cities_df contains your dataframe with repeated city values

# Identify rows with repeated city values
repeated_rows = all_cities_df[all_cities_df.duplicated(subset=['City'], keep=False)]

# Print rows with repeated values
repeated_rows.shape

(5984, 8)

In [ ]:
# Create a new dataframe with unique city values, selecting the row with the highest population
all_cities_df = all_cities_df.sort_values(by='Population', ascending=False).drop_duplicates(subset='City')

# Print the shape of the new dataframe
print(all_cities_df.shape)

all_cities_df.head()

(44156, 8)
                   City              Country      Lat       Lng iso2 iso3  \
0                 Tokyo                Japan  35.6897  139.6922   JP  JPN
1               Jakarta            Indonesia  -6.1750  106.8275   ID  IDN
2                 Delhi                India  28.6100   77.2300   IN  IND
3             Guangzhou                China  23.1300  113.2600   CN  CHN
4                Mumbai                India  19.0761   72.8775   IN  IND
...                 ...                  ...      ...       ...  ...  ...
47863        Munha-dong         Korea, North  39.3813  127.2517   KP  PRK
47864            Sil-li         Korea, North  39.4880  125.4640   KP  PRK
47865              Muan         Korea, South  34.9897  126.4714   KR  KOR
47866         Hongseong         Korea, South  36.6009  126.6650   KR  KOR
47867  Charlotte Amalie  U.S. Virgin Islands  18.3420  -64.9331   VI  VIR

       Population          ID
0      37732000.0  1392685764
1      33756000.0  1360771077
2      32226000.0  1356872604
3      26940000.0  1156237133
4      24973000.0  1356226629
...           ...         ...
47863         NaN  1408979215
47864         NaN  1408767958
47865         NaN  1410001061
47866         NaN  1410822139
47867         NaN  1850037473

[44156 rows x 8 columns]

        City    Country      Lat       Lng iso2 iso3  Population          ID
0      Tokyo      Japan  35.6897  139.6922   JP  JPN  37732000.0  1392685764
1    Jakarta  Indonesia  -6.1750  106.8275   ID  IDN  33756000.0  1360771077
2      Delhi      India  28.6100   77.2300   IN  IND  32226000.0  1356872604
3  Guangzhou      China  23.1300  113.2600   CN  CHN  26940000.0  1156237133
4     Mumbai      India  19.0761   72.8775   IN  IND  24973000.0  1356226629

In [ ]:
all_cities_df.shape

(44156, 8)

In [ ]:
# # prompt: in all_cities_df, concatenate City and Country as: 'City, Country' in a new column called 'City, Country'

# all_cities_df['City, Country'] = all_cities_df['City'] + ', ' + all_cities_df['Country']

# # prompt: sort all_cities_df by 'Population'

# all_cities_df.sort_values(by='Population', inplace=True, ascending=False)

# all_cities_df.head()

In [ ]:
# all_cities_df.shape

In [ ]:
# keep only the first 1000 rows in all_cities_df

# cities_1000_df = all_cities_df.head(1000)

# cities_1000_df.head(50)

In [ ]:
# prompt: merge all_cities_df and merged_filled3_df on 'City, Country'

merged_cities_df = pd.merge(all_cities_df, merged_filled3_df, on='City', how='outer')

# Display the first few rows of the dataframe
merged_cities_df.head(50)

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,"City, Country_0",...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country_y,"City, Country"
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,156.0,"Aachen, Germany",...,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1,Germany,"Aachen, Germany"
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,36.0,"Aarhus, Denmark",...,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7,Denmark,"Aarhus, Denmark"
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Aasiaat,Greenland,68.7097,-52.8694,GL,GRL,3069.0,1.304195e+09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_cities_df.shape

(44179, 36)

In [ ]:
print(len(merged_cities_df['City'].unique()))

44178

In [ ]:
# checking if we stil have our values from before
# Drop NaN values
merged_cities_df_cleaned = merged_cities_df.dropna()

# Show the shape of the cleaned DataFrame
merged_cities_df_cleaned.shape

(372, 36)

In [ ]:
merged_cities_df.shape

(44179, 36)

In [ ]:
# merged_cities_1000_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Raw_csvs/merged_cities_1000.csv", index=False)

# merged_cities_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Modified_csvs/merged_cities.csv", index=False)

merged_cities_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\modified_csvs/merged_cities.csv", index=False)

# Filling the missing data in the merged cities

In [ ]:
# prompt: in merged_cities_df, if numeric data, replace the NaN's with the average of numeric values of the same columns who share a similar Country_x, change the data frame name to merged_cities_ filled_df

# Create a copy of the dataframe
merged_cities_filled_df = merged_cities_df.copy()

# Select numeric columns
numeric_columns = merged_cities_filled_df.select_dtypes(include=['float64', 'int64']).columns

# Group the dataframe by Country_x and calculate the mean for each numeric column
country_means = merged_cities_filled_df.groupby('Country_x')[numeric_columns].mean().round(1)

# Replace NaN values in the numeric columns with the corresponding country mean
for col in numeric_columns:
    for country in country_means.index:
        merged_cities_filled_df.loc[(merged_cities_filled_df['Country_x'] == country) & (merged_cities_filled_df[col].isna()), col] = country_means.loc[country, col]

# Display the first few rows of the dataframe
merged_cities_filled_df.head()

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,"City, Country_0",...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country_y,"City, Country"
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,308.0,NaN,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,308.0,NaN,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,308.0,NaN,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,308.0,NaN,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,308.0,NaN,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN

In [ ]:
# Drop the columns 'Country_y' and 'City_y'
merged_cities_filled_df = merged_cities_filled_df.drop(columns=['Country_y', 'City, Country','City, Country_0'])

# To verify the columns were dropped
merged_cities_filled_df.head()

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,Cost of Living Index_x,...,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7

In [ ]:
merged_cities_filled_df.shape

(44179, 33)

In [ ]:
merged_cities_filled_df_clean = merged_cities_filled_df.dropna()
merged_cities_filled_df_clean.shape

(39604, 33)

In [ ]:
merged_cities_filled_df_clean.head(50)

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,Cost of Living Index_x,...,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,310.2,32.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,308.0,32.3,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,310.2,32.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,310.2,32.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,310.2,32.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,194.1,50.4,...,45.0,179.3,94.7,64.9,79.0,50.3,8.4,26.1,40.2,91.7
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,313.5,31.9,...,184.0,84.0,38.4,56.2,59.4,29.6,28.4,30.0,91.0,71.2
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,33.0,78.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,156.0,61.3,...,29.5,186.3,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,4.0,115.3,...,10.0,197.0,153.6,73.4,70.8,99.8,13.4,35.0,24.0,82.0
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,33.0,78.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,124.7,64.6,...,29.5,186.3,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,202.0,48.0,...,193.0,67.6,19.2,53.5,64.6,44.7,37.4,39.6,93.9,94.7
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,102.7,66.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,126.2,64.5,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,92.2,68.9,...,9.0,197.4,110.7,75.6,80.1,66.1,10.1,25.1,12.6,62.8
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,4.0,115.3,...,10.0,197.0,153.6,73.4,70.8,99.8,13.4,35.0,24.0,82.0
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,36.0,77.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,33.0,78.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,202.0,48.0,...,193.0,67.6,19.2,53.5,64.6,44.7,37.4,39.6,93.9,94.7
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,102.7,66.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,102.7,66.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
50,Ab Pakhsh,Iran,29.3606,51.0683,IR,IRN,18913.0,1.364463e+09,323.0,29.7,...,198.0,53.3,20.6,43.2,53.2,28.4,39.1,51.8,80.4,71.0

In [ ]:
# Assuming 'merged_cities_filled_df' is your DataFrame

# Get unique values of the 'Country_x' column
unique_countries = merged_cities_filled_df_clean['Country_x'].unique()
print("Unique values in 'Country_x':")
print(unique_countries)

# Get unique values of the 'iso3' column
unique_iso3 = merged_cities_filled_df_clean['iso3'].unique()
print("Unique values in 'iso3':")
print(unique_iso3)
print(len(unique_iso3))

Unique values in 'Country_x':
['Algeria' 'Morocco' 'Netherlands' 'Spain' 'Vietnam' 'Denmark' 'Germany'
 'Switzerland' 'Lebanon' 'Belgium' 'Finland' 'Iran' 'Nigeria' 'Brazil'
 'Russia' 'Peru' 'Italy' 'Japan' 'Sri Lanka' 'Mexico' 'Kazakhstan'
 'France' 'India' 'United Kingdom' 'Canada' 'Pakistan' 'Colombia'
 'Saudi Arabia' 'Iraq' 'United States' 'Ethiopia' 'Egypt' 'Cameroon'
 'Hungary' 'Philippines' 'Ghana' 'Armenia' 'Argentina' 'Portugal'
 'United Arab Emirates' 'Kuwait' 'Venezuela' 'Turkey' 'Guatemala' 'Greece'
 'South Africa' 'Bahrain' 'Latvia' 'Australia' 'Qatar' 'Romania'
 'Indonesia' 'Israel' 'China' 'Tunisia' 'Azerbaijan' 'Cyprus'
 'Puerto Rico' 'Panama' 'Sweden' 'Uruguay' 'Slovenia' 'Kyrgyzstan'
 'Thailand' 'Georgia' 'Iceland' 'Oman' 'Jordan' 'Ecuador' 'Ukraine'
 'Serbia' 'Poland' 'Chile' 'Norway' 'Malaysia' 'Austria' 'Lithuania'
 'Nepal' 'Bangladesh' 'Ireland' 'Korea, South' 'Uzbekistan' 'Montenegro'
 'Moldova' 'North Macedonia' 'Trinidad and Tobago' 'Dominican Republic'
 'Mongolia' 'Bulgaria' 'Belarus' 'Kenya' 'Malta' 'New Zealand' 'Taiwan'
 'Albania' 'Bosnia and Herzegovina' 'Cambodia' 'Slovakia' 'Zimbabwe'
 'Croatia' 'Czechia' 'Rwanda' 'Luxembourg' 'Hong Kong' 'Kosovo' 'Estonia'
 'Singapore']
Unique values in 'iso3':
['DZA' 'MAR' 'NLD' 'ESP' 'VNM' 'DNK' 'DEU' 'CHE' 'LBN' 'BEL' 'FIN' 'IRN'
 'NGA' 'BRA' 'RUS' 'PER' 'ITA' 'JPN' 'LKA' 'MEX' 'KAZ' 'FRA' 'IND' 'GBR'
 'CAN' 'PAK' 'COL' 'SAU' 'IRQ' 'USA' 'ETH' 'EGY' 'CMR' 'HUN' 'PHL' 'GHA'
 'ARM' 'ARG' 'PRT' 'ARE' 'KWT' 'VEN' 'TUR' 'GTM' 'GRC' 'ZAF' 'BHR' 'LVA'
 'AUS' 'QAT' 'ROU' 'IDN' 'ISR' 'CHN' 'TUN' 'AZE' 'CYP' 'PRI' 'PAN' 'SWE'
 'URY' 'SVN' 'KGZ' 'THA' 'GEO' 'ISL' 'OMN' 'JOR' 'ECU' 'UKR' 'SRB' 'POL'
 'CHL' 'NOR' 'MYS' 'AUT' 'LTU' 'NPL' 'BGD' 'IRL' 'KOR' 'UZB' 'MNE' 'MDA'
 'MKD' 'TTO' 'DOM' 'MNG' 'BGR' 'BLR' 'KEN' 'MLT' 'NZL' 'TWN' 'ALB' 'BIH'
 'KHM' 'SVK' 'ZWE' 'HRV' 'CZE' 'RWA' 'LUX' 'HKG' 'XKS' 'EST' 'SGP']
107

In [ ]:
#use these values for webscraping.. how do we store it as a variable and use it in another file?

In [ ]:
# Load CSV file into a DataFrame
nett_migration_df = pd.read_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\nett_migration.csv")

# Display the DataFrame
print(nett_migration_df)
nett_migration_df.head()

                           key  1990  2000 2010 2021 country_code
0    Net migration (thousands)   -22   -19  -33  -19          DZA
1    Net migration (thousands)  -105   -90  -70  -46          MAR
2    Net migration (thousands)    32    22   36   57          NLD
3    Net migration (thousands)   -38   175   63  275          ESP
4    Net migration (thousands)   -10  -151   -4   -1          VNM
..                         ...   ...   ...  ...  ...          ...
98   Net migration (thousands)   -32  -100   -8   -6          RWA
99   Net migration (thousands)     4     4    8    7          LUX
100  Net migration (thousands)    -3    -3   -4    3          EST
101  Net migration (thousands)     0     0    0    0          BMU
102  Net migration (thousands)    44    39  109   19          SGP

[103 rows x 6 columns]

                         key  1990  2000 2010 2021 country_code
0  Net migration (thousands)   -22   -19  -33  -19          DZA
1  Net migration (thousands)  -105   -90  -70  -46          MAR
2  Net migration (thousands)    32    22   36   57          NLD
3  Net migration (thousands)   -38   175   63  275          ESP
4  Net migration (thousands)   -10  -151   -4   -1          VNM

In [ ]:
# Merge the two DataFrames based on the condition
cities_kpi_final = pd.merge(merged_cities_filled_df_clean, nett_migration_df, left_on='iso3', right_on='country_code', how='left')

# Create the new column 'Net migration (thousands)' based on the specified rule
cities_kpi_final['Net migration (thousands)'] = cities_kpi_final.apply(lambda row: row['2021'] if pd.notna(row['country_code']) else None, axis=1)

# Drop the 'country_code' and '2021' columns if needed
cities_kpi_final.drop(['country_code', '2021'], axis=1, inplace=True)

# Display the merged DataFrame
cities_kpi_final.head(50)

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,Cost of Living Index_x,...,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,key,1990,2000,2010,Net migration (thousands)
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,310.2,32.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,308.0,32.3,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,310.2,32.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,310.2,32.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,310.2,32.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,194.1,50.4,...,50.3,8.4,26.1,40.2,91.7,Net migration (thousands),-38,175,63,275
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,313.5,31.9,...,29.6,28.4,30.0,91.0,71.2,Net migration (thousands),-10,-151,-4,-1
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,33.0,78.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,156.0,61.3,...,63.6,9.4,30.4,33.3,82.1,Net migration (thousands),480,61,267,313
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,4.0,115.3,...,99.8,13.4,35.0,24.0,82.0,Net migration (thousands),59,24,76,24
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,33.0,78.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,124.7,64.6,...,63.6,9.4,30.4,33.3,82.1,Net migration (thousands),480,61,267,313
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,202.0,48.0,...,44.7,37.4,39.6,93.9,94.7,Net migration (thousands),-7,0,-41,-115
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,102.7,66.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,126.2,64.5,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,92.2,68.9,...,66.1,10.1,25.1,12.6,62.8,Net migration (thousands),9,2,14,15
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,4.0,115.3,...,99.8,13.4,35.0,24.0,82.0,Net migration (thousands),59,24,76,24
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,36.0,77.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,33.0,78.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,202.0,48.0,...,44.7,37.4,39.6,93.9,94.7,Net migration (thousands),-7,0,-41,-115
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,102.7,66.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,102.7,66.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
49,Ab Pakhsh,Iran,29.3606,51.0683,IR,IRN,18913.0,1.364463e+09,323.0,29.7,...,28.4,39.1,51.8,80.4,71.0,Net migration (thousands),"1,375",395,128,28

In [ ]:
# Filter columns from merged_cities_filled_df_clean excluding '1990', '2000', and '2010'
cities_kpi_final = cities_kpi_final.drop(columns=['1990', '2000', '2010'], errors='ignore')

cities_kpi_final.head()

,City,Country_x,Lat,Lng,iso2,iso3,Population,ID,Rank_x,Cost of Living Index_x,...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,key,Net migration (thousands)
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,308.0,32.3,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,308.0,32.3,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,308.0,32.3,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,308.0,32.3,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,308.0,32.3,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19

In [ ]:
cities_kpi_final.shape

(39604, 35)

In [ ]:
vvv = cities_kpi_final['City'].unique()
print(len(vvv))

39603

In [ ]:
# merged_cities_filled_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Modified_csvs/merged_cities_filled.csv", index=False)

# merged_cities_filled_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Modified_csvs\123.csv", index=False)

cities_kpi_final.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\modified_csvs\cities_kpis_final2.csv", index=False)