In [36]:
# prompt: mount gdrive

# from google.colab import drive
# drive.mount('/content/drive')

#yeah

In [37]:
import pandas as pd

def load_csvs(file_paths):
    dataframes = []
    for path in file_paths:
        try:
            df = pd.read_csv(path)
            dataframes.append(df)
            print(f"Loaded {path} successfully.")
        except FileNotFoundError:
            print(f"File {path} not found.")
        except Exception as e:
            print(f"An error occurred while loading {path}: {e}")
    return dataframes

if __name__ == "__main__":
    # List of file paths
    file_paths = [r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv",
                  r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_prop_price.csv",
                r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv"
                ]


# if __name__ == "__main__":
#     # List of file paths
#     file_paths = ["/content/drive/MyDrive/Colab Notebooks/DE/Project/Scraped_csvs/data_cost.csv",
#                   "/content/drive/MyDrive/Colab Notebooks/DE/Project/Scraped_csvs/data_prop_price.csv",
#                 "/content/drive/MyDrive/Colab Notebooks/DE/Project/Scraped_csvs/data_qual.csv"
#                 ]


    # Load CSV files into dataframes
    dfs = load_csvs(file_paths)

Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_cost.csv successfully.
Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_prop_price.csv successfully.
Loaded C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_qual.csv successfully.

In [38]:
dfs[0]

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"Hamilton, Bermuda",137.4,94.7,117.2,147.7,131.3,82.3
1,2,"Basel, Switzerland",120.2,46.6,85.3,135.7,106.7,133.5
2,3,"Zurich, Switzerland",118.3,64.4,92.7,121.0,109.0,132.7
3,4,"Lausanne, Switzerland",117.7,46.4,83.9,123.3,106.2,106.7
4,5,"Bern, Switzerland",110.5,42.3,78.2,108.3,96.5,130.7
...,...,...,...,...,...,...,...,...
365,366,"Kochi, India",20.6,6.6,14.0,23.1,10.7,60.7
366,367,"Coimbatore, India",20.4,4.0,12.6,23.8,11.0,42.5
367,368,"Islamabad, Pakistan",20.3,4.7,12.9,18.1,14.1,24.7
368,369,"Lahore, Pakistan",19.7,3.3,11.9,16.5,15.1,26.3
369,370,"Karachi, Pakistan",19.3,3.0,11.6,17.4,12.2,23.8

In [39]:
dfs[1]

,Rank,City,Price To Income Ratio,Gross Rental Yield City Centre,Gross Rental Yield Outside of Centre,Price To Rent Ratio City Centre,Price To Rent Ratio Outside Of City Centre,Mortgage As A Percentage Of Income,Affordability Index
0,1,"Addis Ababa, Ethiopia",51.6,6.6,4.8,15.2,20.7,861.5,0.1
1,2,"Douala, Cameroon",48.3,10.3,13.0,9.7,7.7,948.9,0.1
2,3,"Shanghai, China",43.5,1.6,1.5,62.6,65.8,337.0,0.3
3,4,"Colombo, Sri Lanka",39.1,4.2,2.1,23.7,47.3,788.5,0.1
4,5,"Tehran, Iran",39.1,4.4,5.0,22.5,20.1,933.2,0.1
...,...,...,...,...,...,...,...,...,...
261,262,"Saint Louis, MO, United States",2.1,13.0,13.0,7.7,7.7,19.0,5.3
262,263,"Memphis, TN, United States",1.8,15.9,15.6,6.3,6.4,16.6,6.0
263,264,"Milwaukee, WI, United States",1.8,19.7,16.4,5.1,6.1,16.4,6.1
264,265,"Indianapolis, IN, United States",1.5,19.4,16.6,5.2,6.0,13.7,7.3
265,266,"Detroit, MI, United States",1.2,32.9,21.8,3.0,4.6,11.0,9.1

In [40]:
dfs[2]

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,"The Hague (Den Haag), Netherlands",224.1,138.9,79.9,80.6,58.1,5.7,21.3,17.6,90.6
1,2,"Luxembourg, Luxembourg",221.3,171.5,71.1,78.2,60.9,9.2,26.6,19.6,82.6
2,3,"Eindhoven, Netherlands",214.3,133.3,77.8,78.3,61.2,6.0,24.9,19.6,85.4
3,4,"Rotterdam, Netherlands",214.1,140.6,71.7,80.6,59.2,5.3,23.4,24.7,87.9
4,5,"Valencia, Spain",202.5,98.7,72.8,80.6,46.3,5.2,22.8,23.4,93.8
...,...,...,...,...,...,...,...,...,...,...,...
194,195,"Caracas, Venezuela",64.4,11.7,18.1,38.1,41.5,27.7,33.7,73.9,99.9
195,196,"Dhaka, Bangladesh",61.1,32.1,37.4,40.2,24.8,14.3,61.4,94.2,71.3
196,197,"Manila, Philippines",53.7,33.6,35.3,62.5,36.0,33.4,51.7,89.8,61.2
197,198,"Tehran, Iran",53.3,20.6,43.2,53.2,28.4,39.1,51.8,80.4,71.0
198,199,"Lagos, Nigeria",44.4,12.2,31.7,47.5,34.6,18.4,68.8,89.0,60.8

In [41]:
merged_df = pd.merge(dfs[0], dfs[1], on='City', how='outer')
merged_df = pd.merge(merged_df, dfs[2], on='City', how='outer')

In [42]:
merged_df.head()
# print(merged_df)
# merged_df.shape

,Rank_x,City,Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,156.0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36.0,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199.0,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123.0,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,164.0,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213.0,6.5,...,30.0,184.7,141.1,88.1,71.0,54.5,6.5,31.7,46.6,43.9
4,345.0,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
merged_df.shape

(394, 26)

# Replacing NaNs

In [44]:
# prompt: Rename "City" to "City, Country_0", then create a new column in merged_df from the last string after the comma or (), then create a new column called City from the first string before the coma or () in City, Country

# Rename "City" to "City, Country_0"
merged_df.rename(columns={'City': 'City, Country_0'}, inplace=True)

# Create a new column from the last string after the comma or ()
merged_df['Country'] = merged_df['City, Country_0'].str.split(',').str[-1].str.split('(').str[0]

# Create a new column called City from the first string before the coma or ()
merged_df['City'] = merged_df['City, Country_0'].str.split(',').str[0].str.split('(').str[0]

# Print the first five rows of the merged_df DataFrame
merged_df.head()

,Rank_x,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City
0,156.0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Aachen
1,36.0,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199.0,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,Aarhus
2,123.0,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,Aberdeen
3,164.0,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213.0,6.5,...,141.1,88.1,71.0,54.5,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi
4,345.0,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ghana,Accra

In [45]:
# prompt: in merged_df concatenate City and Country as 'City, Country' and add it to a new column named 'City, Country'

merged_df['City, Country'] = merged_df['City'] + ',' + merged_df['Country']

merged_df.head()

,Rank_x,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country"
0,156.0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Aachen,"Aachen, Germany"
1,36.0,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199.0,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark,Aarhus,"Aarhus, Denmark"
2,123.0,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,Aberdeen,"Aberdeen, United Kingdom"
3,164.0,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213.0,6.5,...,88.1,71.0,54.5,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates"
4,345.0,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ghana,Accra,"Accra, Ghana"

## Rounding the numbers

In [46]:
# prompt: for numeric data only, replace the NaN's with the average values of the same columns who share a similar Country, change the data frame name to merged_filled1_ df, for numeric data only round the floats to one decimal number

# Create a copy of the dataframe
merged_filled1_df = merged_df.copy()

# Select numeric columns
numeric_columns = merged_filled1_df.select_dtypes(include=['float64', 'int64']).columns

# Group the dataframe by country and calculate the mean for each numeric column
country_means = merged_filled1_df.groupby('Country')[numeric_columns].mean().round(1)

# Replace NaN values in the numeric columns with the corresponding country mean
for col in numeric_columns:
    for country in country_means.index:
        merged_filled1_df.loc[(merged_filled1_df['Country'] == country) & (merged_filled1_df[col].isna()), col] = country_means.loc[country, col]

# Display the first few rows of the dataframe
merged_filled1_df.head()
merged_filled1_df.shape

(394, 29)

In [47]:
# prompt: check merged_filled1_df for NaN's

merged_filled1_df.isnull().sum()

Rank_x                                         3
City, Country_0                                0
Cost of Living Index_x                         3
Rent Index                                     3
Cost of Living Plus Rent Index                 3
Groceries Index                                3
Restaurant Price Index                         3
Local Purchasing Power Index                   3
Rank_y                                        11
Price To Income Ratio                         11
Gross Rental Yield City Centre                11
Gross Rental Yield Outside of Centre          11
Price To Rent Ratio City Centre               11
Price To Rent Ratio Outside Of City Centre    11
Mortgage As A Percentage Of Income            11
Affordability Index                           11
Rank                                          29
Quality of Life Index                         29
Purchasing Power Index                        29
Safety Index                                  29
Health Care Index                             29
Cost of Living Index_y                        29
Property Price to Income Ratio                29
Traffic Commute Time Index                    29
Pollution Index                               29
Climate Index                                 29
Country                                        0
City                                           0
City, Country                                  0
dtype: int64

In [48]:
# prompt: for numeric data only, replace the NaN's with the average values of the same columns, change the data frame name to merged_filled2_ df

# Create a copy of the dataframe
merged_filled2_df = merged_filled1_df.copy()

# Select numeric columns
numeric_columns = merged_filled2_df.select_dtypes(include=['float64', 'int64']).columns

# Calculate the average values for each numeric column
column_means = merged_filled2_df[numeric_columns].mean()

# Replace NaN values with the average values
merged_filled2_df[numeric_columns] = merged_filled2_df[numeric_columns].fillna(column_means)

# Display the first few rows of the dataframe
merged_filled2_df.head()

,Rank_x,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country"
0,156.0,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,156.200000,10.000000,...,61.700000,74.800000,63.600000,9.400000,30.400000,33.300000,82.100000,Germany,Aachen,"Aachen, Germany"
1,36.0,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199.000000,7.700000,...,74.400000,77.000000,74.700000,8.400000,27.700000,21.100000,83.700000,Denmark,Aarhus,"Aarhus, Denmark"
2,123.0,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,135.000000,11.200000,...,50.000000,74.800000,65.800000,8.800000,35.800000,44.700000,86.300000,United Kingdom,Aberdeen,"Aberdeen, United Kingdom"
3,164.0,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213.000000,6.500000,...,88.100000,71.000000,54.500000,6.500000,31.700000,46.600000,43.900000,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates"
4,345.0,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,137.702611,12.135248,...,57.853425,67.508493,53.478356,12.152603,36.078356,49.834521,77.721096,Ghana,Accra,"Accra, Ghana"

In [49]:
merged_filled2_df.isnull().sum()

Rank_x                                        0
City, Country_0                               0
Cost of Living Index_x                        0
Rent Index                                    0
Cost of Living Plus Rent Index                0
Groceries Index                               0
Restaurant Price Index                        0
Local Purchasing Power Index                  0
Rank_y                                        0
Price To Income Ratio                         0
Gross Rental Yield City Centre                0
Gross Rental Yield Outside of Centre          0
Price To Rent Ratio City Centre               0
Price To Rent Ratio Outside Of City Centre    0
Mortgage As A Percentage Of Income            0
Affordability Index                           0
Rank                                          0
Quality of Life Index                         0
Purchasing Power Index                        0
Safety Index                                  0
Health Care Index                             0
Cost of Living Index_y                        0
Property Price to Income Ratio                0
Traffic Commute Time Index                    0
Pollution Index                               0
Climate Index                                 0
Country                                       0
City                                          0
City, Country                                 0
dtype: int64

# Editing rows and columns to match the new dataset

In [50]:
# prompt: for numeric data only, round the data in all the merged_filled2_df to one decimal figure, then round the data in Rank_x and Rank_y to integers

import numpy as np

# Round numeric data to one decimal figure
for col in merged_filled2_df.select_dtypes(include=['float64', 'int64']):
    merged_filled2_df[col] = np.round(merged_filled2_df[col], 1)

# Round Rank_x and Rank_y to integers
merged_filled2_df['Rank_x'] = merged_filled2_df['Rank_x'].astype(int)
merged_filled2_df['Rank_y'] = merged_filled2_df['Rank_y'].astype(int)

# Display the first few rows of the dataframe
merged_filled2_df.head()

,Rank_x,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country"
0,156,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,156,10.0,...,61.7,74.8,63.6,9.4,30.4,33.3,82.1,Germany,Aachen,"Aachen, Germany"
1,36,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199,7.7,...,74.4,77.0,74.7,8.4,27.7,21.1,83.7,Denmark,Aarhus,"Aarhus, Denmark"
2,123,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,135,11.2,...,50.0,74.8,65.8,8.8,35.8,44.7,86.3,United Kingdom,Aberdeen,"Aberdeen, United Kingdom"
3,164,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213,6.5,...,88.1,71.0,54.5,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates"
4,345,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,137,12.1,...,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Ghana,Accra,"Accra, Ghana"

In [51]:
# sort data in merged_filled3_df by 'City, Country'

merged_filled3_df = merged_filled2_df.sort_values(by='City, Country', inplace=False)


merged_filled3_df.head()

,Rank_x,"City, Country_0",Cost of Living Index_x,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Rank_y,Price To Income Ratio,...,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country,City,"City, Country"
0,156,"Aachen, Germany",61.3,20.5,42.0,56.7,52.1,110.7,156,10.0,...,61.7,74.8,63.6,9.4,30.4,33.3,82.1,Germany,Aachen,"Aachen, Germany"
1,36,"Aarhus, Denmark",77.0,29.8,54.6,70.1,81.7,103.9,199,7.7,...,74.4,77.0,74.7,8.4,27.7,21.1,83.7,Denmark,Aarhus,"Aarhus, Denmark"
2,123,"Aberdeen, United Kingdom",65.1,24.4,45.8,56.1,61.3,113.8,135,11.2,...,50.0,74.8,65.8,8.8,35.8,44.7,86.3,United Kingdom,Aberdeen,"Aberdeen, United Kingdom"
3,164,"Abu Dhabi, United Arab Emirates",59.3,46.8,53.4,43.1,63.6,105.9,213,6.5,...,88.1,71.0,54.5,6.5,31.7,46.6,43.9,United Arab Emirates,Abu Dhabi,"Abu Dhabi, United Arab Emirates"
4,345,"Accra, Ghana",27.4,10.6,19.4,29.0,23.2,14.3,137,12.1,...,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Ghana,Accra,"Accra, Ghana"

In [52]:
# Save merged_filled2_df as a CSV file

# merged_filled3_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Modified_csvs/Merged_data_filled.csv", index=False)

merged_filled3_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\merged_csvs\merged_filled3.csv", index=False)

#New Cities Dataframe

In [53]:
# read csv file "/content/drive/MyDrive/Colab Notebooks/DE/Project/Raw_csvs/worldcities.csv" from Gdrive

# all_cities_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Raw_csvs/worldcities.csv")

all_cities_df = pd.read_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\worldcities.csv")


all_cities_df.head(10)

,City,Country,Lat,Lng,iso2,iso3,Population,ID
0,Tokyo,Japan,35.6897,139.6922,JP,JPN,37732000.0,1392685764
1,Jakarta,Indonesia,-6.1750,106.8275,ID,IDN,33756000.0,1360771077
2,Delhi,India,28.6100,77.2300,IN,IND,32226000.0,1356872604
3,Guangzhou,China,23.1300,113.2600,CN,CHN,26940000.0,1156237133
4,Mumbai,India,19.0761,72.8775,IN,IND,24973000.0,1356226629
5,Manila,Philippines,14.5958,120.9772,PH,PHL,24922000.0,1608618140
6,Shanghai,China,31.2286,121.4747,CN,CHN,24073000.0,1156073548
7,Sao Paulo,Brazil,-23.5500,-46.6333,BR,BRA,23086000.0,1076532519
8,Seoul,"Korea, South",37.5600,126.9900,KR,KOR,23016000.0,1410836482
9,Mexico City,Mexico,19.4333,-99.1333,MX,MEX,21804000.0,1484247881

In [54]:
# prompt: in all_cities_df, concatenate City and Country as: 'City, Country' in a new column called 'City, Country'

all_cities_df['City, Country'] = all_cities_df['City'] + ', ' + all_cities_df['Country']

# prompt: sort all_cities_df by 'Population'

all_cities_df.sort_values(by='Population', inplace=True, ascending=False)

all_cities_df.head()

,City,Country,Lat,Lng,iso2,iso3,Population,ID,"City, Country"
0,Tokyo,Japan,35.6897,139.6922,JP,JPN,37732000.0,1392685764,"Tokyo, Japan"
1,Jakarta,Indonesia,-6.1750,106.8275,ID,IDN,33756000.0,1360771077,"Jakarta, Indonesia"
2,Delhi,India,28.6100,77.2300,IN,IND,32226000.0,1356872604,"Delhi, India"
3,Guangzhou,China,23.1300,113.2600,CN,CHN,26940000.0,1156237133,"Guangzhou, China"
4,Mumbai,India,19.0761,72.8775,IN,IND,24973000.0,1356226629,"Mumbai, India"

In [55]:
all_cities_df.shape

(47868, 9)

In [56]:
# keep only the first 1000 rows in all_cities_df

# cities_1000_df = all_cities_df.head(1000)

# cities_1000_df.head(50)

In [57]:
# prompt: merge all_cities_df and merged_filled3_df on 'City, Country'

import pandas as pd
merged_cities_df = pd.merge(all_cities_df, merged_filled3_df, on='City, Country', how='outer')

# Display the first few rows of the dataframe
merged_cities_df.head(50)

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country_y,City_y
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,"'Ain Boucif, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,"'Ain Fekan, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,"'Ain Kerma, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,"'Ain Kihal, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,"'Ain Leuh, Morocco",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,"'Ain Mabed, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,"'Ain Merane, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,"'Ain Mouilah, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,"'Ain Naga, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,"'Ain Roua, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,"'Ain Taghrout, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,"'Ain Tellout, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,"'Ain Tolba, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,"'Ain el Arbaa, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,"'Ain el Assel, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,"'Ain el Bell, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,"'Ain el Hammam, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,"'Ain el Melh, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,"'Ain el Turk, Algeria",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,"'Ali Ben Sliman, Morocco",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,"'Ayn Bni Mathar, Morocco",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,"'Tlat Bni Oukil, Morocco",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,"'s-Gravendeel, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,"'s-Gravenzande, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,"'s-Heerenberg, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,"'s-Hertogenbosch, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,"A Coruna, Spain",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,"A Yun Pa, Vietnam",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,"Aabenraa, Denmark",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,"Aachen, Germany",156.0,...,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1,Germany,Aachen
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,"Aadorf, Switzerland",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,"Aalborg, Denmark",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,"Aalen, Germany",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,"Aaley, Lebanon",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,"Aalsmeer, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,"Aalst, Belgium",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,"Aalten, Netherlands",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,"Aanekoski, Finland",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,"Aarau, Switzerland",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,"Aarhus, Denmark",36.0,...,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7,Denmark,Aarhus
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,"Aars, Denmark",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,"Aarsal, Lebanon",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,"Aarschot, Belgium",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,"Aartselaar, Belgium",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Aasiaat,Greenland,68.7097,-52.8694,GL,GRL,3069.0,1.304195e+09,"Aasiaat, Greenland",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# checking if we stil have our values from before
# Drop NaN values
merged_cities_df_cleaned = merged_cities_df.dropna()

# Show the shape of the cleaned DataFrame
merged_cities_df_cleaned.shape

(402, 37)

In [59]:
merged_cities_df.shape

(47902, 37)

In [61]:
# merged_cities_1000_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Raw_csvs/merged_cities_1000.csv", index=False)

# merged_cities_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Modified_csvs/merged_cities.csv", index=False)

merged_cities_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\modified_csvs/merged_cities.csv", index=False)

# Filling the missing data in the merged cities

In [75]:
# prompt: in merged_cities_df, if numeric data, replace the NaN's with the average of numeric values of the same columns who share a similar Country_x, change the data frame name to merged_cities_ filled_df

# Create a copy of the dataframe
merged_cities_filled_df = merged_cities_df.copy()

# Select numeric columns
numeric_columns = merged_cities_filled_df.select_dtypes(include=['float64', 'int64']).columns

# Group the dataframe by Country_x and calculate the mean for each numeric column
country_means = merged_cities_filled_df.groupby('Country_x')[numeric_columns].mean().round(1)

# Replace NaN values in the numeric columns with the corresponding country mean
for col in numeric_columns:
    for country in country_means.index:
        merged_cities_filled_df.loc[(merged_cities_filled_df['Country_x'] == country) & (merged_cities_filled_df[col].isna()), col] = country_means.loc[country, col]

# Display the first few rows of the dataframe
merged_cities_filled_df.head()

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,Country_y,City_y
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,NaN,NaN

In [76]:
# Drop the columns 'Country_y' and 'City_y'
merged_cities_filled_df = merged_cities_filled_df.drop(columns=['Country_y', 'City_y','City, Country_0'])

# To verify the columns were dropped
merged_cities_filled_df.head()

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7

In [80]:
merged_cities_filled_df.shape

(47902, 34)

In [81]:
merged_cities_filled_df_clean = merged_cities_filled_df.dropna()
merged_cities_filled_df_clean.shape

(42671, 34)

In [84]:
merged_cities_filled_df_clean.head(50)

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Rank,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,"'Ain Boucif, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,"'Ain Fekan, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,"'Ain Kerma, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,"'Ain Kihal, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,"'Ain Leuh, Morocco",310.2,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,"'Ain Mabed, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,"'Ain Merane, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,"'Ain Mouilah, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,"'Ain Naga, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,"'Ain Roua, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,"'Ain Taghrout, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,"'Ain Tellout, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,"'Ain Tolba, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,"'Ain el Arbaa, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,"'Ain el Assel, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,"'Ain el Bell, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,"'Ain el Hammam, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,"'Ain el Melh, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,"'Ain el Turk, Algeria",308.0,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,"'Ali Ben Sliman, Morocco",310.2,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,"'Ayn Bni Mathar, Morocco",310.2,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,"'Tlat Bni Oukil, Morocco",310.2,...,94.9,150.2,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,"'s-Gravendeel, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,"'s-Gravenzande, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,"'s-Heerenberg, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,"'s-Hertogenbosch, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,"A Coruna, Spain",194.1,...,45.0,179.3,94.7,64.9,79.0,50.3,8.4,26.1,40.2,91.7
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,"A Yun Pa, Vietnam",313.5,...,184.0,84.0,38.4,56.2,59.4,29.6,28.4,30.0,91.0,71.2
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,"Aabenraa, Denmark",33.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,"Aachen, Germany",156.0,...,29.5,186.3,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,"Aadorf, Switzerland",4.0,...,10.0,197.0,153.6,73.4,70.8,99.8,13.4,35.0,24.0,82.0
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,"Aalborg, Denmark",33.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,"Aalen, Germany",124.7,...,29.5,186.3,128.0,61.7,74.8,63.6,9.4,30.4,33.3,82.1
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,"Aaley, Lebanon",202.0,...,193.0,67.6,19.2,53.5,64.6,44.7,37.4,39.6,93.9,94.7
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,"Aalsmeer, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,"Aalst, Belgium",102.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,"Aalten, Netherlands",126.2,...,4.9,210.9,130.5,74.6,79.5,61.9,7.0,23.5,22.0,87.5
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,"Aanekoski, Finland",92.2,...,9.0,197.4,110.7,75.6,80.1,66.1,10.1,25.1,12.6,62.8
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,"Aarau, Switzerland",4.0,...,10.0,197.0,153.6,73.4,70.8,99.8,13.4,35.0,24.0,82.0
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,"Aarhus, Denmark",36.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,"Aars, Denmark",33.0,...,8.0,198.9,116.9,74.4,77.0,74.7,8.4,27.7,21.1,83.7
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,"Aarsal, Lebanon",202.0,...,193.0,67.6,19.2,53.5,64.6,44.7,37.4,39.6,93.9,94.7
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,"Aarschot, Belgium",102.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,"Aartselaar, Belgium",102.7,...,106.0,148.2,103.5,44.7,73.6,65.7,6.9,36.8,61.6,83.8
50,Ab Pakhsh,Iran,29.3606,51.0683,IR,IRN,18913.0,1.364463e+09,"Ab Pakhsh, Iran",323.0,...,198.0,53.3,20.6,43.2,53.2,28.4,39.1,51.8,80.4,71.0

In [88]:
import pandas as pd

# Assuming 'merged_cities_filled_df' is your DataFrame

# Get unique values of the 'Country_x' column
unique_countries = merged_cities_filled_df_clean['Country_x'].unique()
print("Unique values in 'Country_x':")
print(unique_countries)

# Get unique values of the 'iso3' column
unique_iso3 = merged_cities_filled_df_clean['iso3'].unique()
print("Unique values in 'iso3':")
print(unique_iso3)
print(len(unique_iso3))

Unique values in 'Country_x':
['Algeria' 'Morocco' 'Netherlands' 'Spain' 'Vietnam' 'Denmark' 'Germany'
 'Switzerland' 'Lebanon' 'Belgium' 'Finland' 'Iran' 'China' 'Nigeria'
 'Brazil' 'Russia' 'Peru' 'Costa Rica' 'Italy' 'Japan' 'Sri Lanka'
 'Mexico' 'Kazakhstan' 'France' 'United States' 'India' 'United Kingdom'
 'Canada' 'Pakistan' 'Colombia' 'Saudi Arabia' 'Iraq' 'Ethiopia' 'Egypt'
 'Cameroon' 'Hungary' 'Philippines' 'Ghana' 'Armenia' 'Argentina'
 'Portugal' 'United Arab Emirates' 'Kuwait' 'Venezuela' 'Turkey'
 'Guatemala' 'Greece' 'South Africa' 'Bahrain' 'Serbia' 'Latvia'
 'Australia' 'Qatar' 'Romania' 'Indonesia' 'Israel' 'Tunisia' 'Azerbaijan'
 'Cyprus' 'Puerto Rico' 'Panama' 'Sweden' 'Uruguay' 'Slovenia'
 'Kyrgyzstan' 'Thailand' 'Georgia' 'Iceland' 'Oman' 'Jordan' 'Ecuador'
 'Ukraine' 'Poland' 'Chile' 'Norway' 'Malaysia' 'Dominican Republic'
 'Mongolia' 'Austria' 'Lithuania' 'Nepal' 'Bangladesh' 'Ireland'
 'Uzbekistan' 'Montenegro' 'Moldova' 'North Macedonia' 'Bulgaria'
 'Belarus' 'New Zealand' 'Kenya' 'Malta' 'Taiwan' 'Albania' 'Cambodia'
 'Slovakia' 'Zimbabwe' 'Croatia' 'Rwanda' 'Luxembourg' 'Estonia' 'Bermuda'
 'Singapore']
Unique values in 'iso3':
['DZA' 'MAR' 'NLD' 'ESP' 'VNM' 'DNK' 'DEU' 'CHE' 'LBN' 'BEL' 'FIN' 'IRN'
 'CHN' 'NGA' 'BRA' 'RUS' 'PER' 'CRI' 'ITA' 'JPN' 'LKA' 'MEX' 'KAZ' 'FRA'
 'USA' 'IND' 'GBR' 'CAN' 'PAK' 'COL' 'SAU' 'IRQ' 'ETH' 'EGY' 'CMR' 'HUN'
 'PHL' 'GHA' 'ARM' 'ARG' 'PRT' 'ARE' 'KWT' 'VEN' 'TUR' 'GTM' 'GRC' 'ZAF'
 'BHR' 'SRB' 'LVA' 'AUS' 'QAT' 'ROU' 'IDN' 'ISR' 'TUN' 'AZE' 'CYP' 'PRI'
 'PAN' 'SWE' 'URY' 'SVN' 'KGZ' 'THA' 'GEO' 'ISL' 'OMN' 'JOR' 'ECU' 'UKR'
 'POL' 'CHL' 'NOR' 'MYS' 'DOM' 'MNG' 'AUT' 'LTU' 'NPL' 'BGD' 'IRL' 'UZB'
 'MNE' 'MDA' 'MKD' 'BGR' 'BLR' 'NZL' 'KEN' 'MLT' 'TWN' 'ALB' 'KHM' 'SVK'
 'ZWE' 'HRV' 'RWA' 'LUX' 'EST' 'BMU' 'SGP']
103

In [ ]:
#use these values for webscraping.. how do we store it as a variable and use it in another file?

In [90]:
# Load CSV file into a DataFrame
nett_migration_df = pd.read_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\nett_migration.csv")

# Display the DataFrame
print(nett_migration_df)
nett_migration_df.head()

                           key  1990  2000 2010 2021 country_code
0    Net migration (thousands)   -22   -19  -33  -19          DZA
1    Net migration (thousands)  -105   -90  -70  -46          MAR
2    Net migration (thousands)    32    22   36   57          NLD
3    Net migration (thousands)   -38   175   63  275          ESP
4    Net migration (thousands)   -10  -151   -4   -1          VNM
..                         ...   ...   ...  ...  ...          ...
98   Net migration (thousands)   -32  -100   -8   -6          RWA
99   Net migration (thousands)     4     4    8    7          LUX
100  Net migration (thousands)    -3    -3   -4    3          EST
101  Net migration (thousands)     0     0    0    0          BMU
102  Net migration (thousands)    44    39  109   19          SGP

[103 rows x 6 columns]

                         key  1990  2000 2010 2021 country_code
0  Net migration (thousands)   -22   -19  -33  -19          DZA
1  Net migration (thousands)  -105   -90  -70  -46          MAR
2  Net migration (thousands)    32    22   36   57          NLD
3  Net migration (thousands)   -38   175   63  275          ESP
4  Net migration (thousands)   -10  -151   -4   -1          VNM

In [100]:
# Merge the two DataFrames based on the condition
cities_kpi_final = pd.merge(merged_cities_filled_df_clean, nett_migration_df, left_on='iso3', right_on='country_code', how='left')

# Create the new column 'Net migration (thousands)' based on the specified rule
cities_kpi_final['Net migration (thousands)'] = cities_kpi_final.apply(lambda row: row['2021'] if pd.notna(row['country_code']) else None, axis=1)

# Drop the 'country_code' and '2021' columns if needed
cities_kpi_final.drop(['country_code', '2021'], axis=1, inplace=True)

# Display the merged DataFrame
cities_kpi_final.head(50)

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,key,1990,2000,2010,Net migration (thousands)
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
5,'Ain Boucif,Algeria,35.8912,3.1585,DZ,DZA,24434.0,1.012875e+09,"'Ain Boucif, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
6,'Ain Fekan,Algeria,35.2250,-0.0017,DZ,DZA,10573.0,1.012085e+09,"'Ain Fekan, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
7,'Ain Kerma,Algeria,36.5939,8.2011,DZ,DZA,12182.0,1.012696e+09,"'Ain Kerma, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
8,'Ain Kihal,Algeria,35.2044,-1.1961,DZ,DZA,9589.0,1.012358e+09,"'Ain Kihal, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
9,'Ain Leuh,Morocco,33.2833,-5.3833,MA,MAR,9669.0,1.504669e+09,"'Ain Leuh, Morocco",310.2,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
10,'Ain Mabed,Algeria,34.8000,3.1333,DZ,DZA,19997.0,1.012464e+09,"'Ain Mabed, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
11,'Ain Merane,Algeria,36.1628,0.9706,DZ,DZA,51326.0,1.012000e+09,"'Ain Merane, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
12,'Ain Mouilah,Algeria,34.7500,3.4833,DZ,DZA,13155.0,1.012993e+09,"'Ain Mouilah, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
13,'Ain Naga,Algeria,34.6883,6.0886,DZ,DZA,10054.0,1.012796e+09,"'Ain Naga, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
14,'Ain Roua,Algeria,36.3344,5.1806,DZ,DZA,11499.0,1.012530e+09,"'Ain Roua, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
15,'Ain Taghrout,Algeria,36.1289,5.0767,DZ,DZA,11103.0,1.012926e+09,"'Ain Taghrout, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
16,'Ain Tellout,Algeria,34.9167,-0.9667,DZ,DZA,10286.0,1.012421e+09,"'Ain Tellout, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
17,'Ain Tolba,Algeria,35.2483,-1.2489,DZ,DZA,12933.0,1.012935e+09,"'Ain Tolba, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
18,'Ain el Arbaa,Algeria,35.4075,-0.8817,DZ,DZA,15683.0,1.012550e+09,"'Ain el Arbaa, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
19,'Ain el Assel,Algeria,36.7864,8.3825,DZ,DZA,12482.0,1.012143e+09,"'Ain el Assel, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
20,'Ain el Bell,Algeria,34.3500,3.2167,DZ,DZA,20436.0,1.012893e+09,"'Ain el Bell, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
21,'Ain el Hammam,Algeria,36.5714,4.3097,DZ,DZA,20401.0,1.012595e+09,"'Ain el Hammam, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
22,'Ain el Melh,Algeria,34.8483,4.1611,DZ,DZA,39798.0,1.012240e+09,"'Ain el Melh, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
23,'Ain el Turk,Algeria,35.7408,-0.7492,DZ,DZA,50000.0,1.012709e+09,"'Ain el Turk, Algeria",308.0,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-22,-19,-33,-19
24,'Ali Ben Sliman,Morocco,31.9100,-7.2100,MA,MAR,19977.0,1.504128e+09,"'Ali Ben Sliman, Morocco",310.2,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
25,'Ayn Bni Mathar,Morocco,34.0889,-2.0247,MA,MAR,16289.0,1.504845e+09,"'Ayn Bni Mathar, Morocco",310.2,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
26,'Tlat Bni Oukil,Morocco,32.5770,-6.8400,MA,MAR,14960.0,1.504789e+09,"'Tlat Bni Oukil, Morocco",310.2,...,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-105,-90,-70,-46
27,'s-Gravendeel,Netherlands,51.7833,4.6167,NL,NLD,9000.0,1.528707e+09,"'s-Gravendeel, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
28,'s-Gravenzande,Netherlands,52.0000,4.1667,NL,NLD,22190.0,1.528221e+09,"'s-Gravenzande, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
29,'s-Heerenberg,Netherlands,51.8764,6.2458,NL,NLD,8635.0,1.528329e+09,"'s-Heerenberg, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
30,'s-Hertogenbosch,Netherlands,51.6833,5.3000,NL,NLD,157486.0,1.528012e+09,"'s-Hertogenbosch, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
31,A Coruna,Spain,43.3650,-8.4100,ES,ESP,247604.0,1.724417e+09,"A Coruna, Spain",194.1,...,50.3,8.4,26.1,40.2,91.7,Net migration (thousands),-38,175,63,275
32,A Yun Pa,Vietnam,13.3939,108.4408,VN,VNM,53720.0,1.704946e+09,"A Yun Pa, Vietnam",313.5,...,29.6,28.4,30.0,91.0,71.2,Net migration (thousands),-10,-151,-4,-1
33,Aabenraa,Denmark,55.0444,9.4181,DK,DNK,15685.0,1.208000e+09,"Aabenraa, Denmark",33.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
34,Aachen,Germany,50.7756,6.0836,DE,DEU,252136.0,1.276806e+09,"Aachen, Germany",156.0,...,63.6,9.4,30.4,33.3,82.1,Net migration (thousands),480,61,267,313
35,Aadorf,Switzerland,47.5000,8.9000,CH,CHE,9036.0,1.756023e+09,"Aadorf, Switzerland",4.0,...,99.8,13.4,35.0,24.0,82.0,Net migration (thousands),59,24,76,24
36,Aalborg,Denmark,57.0500,9.9167,DK,DNK,143598.0,1.208789e+09,"Aalborg, Denmark",33.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
37,Aalen,Germany,48.8333,10.1000,DE,DEU,68816.0,1.276758e+09,"Aalen, Germany",124.7,...,63.6,9.4,30.4,33.3,82.1,Net migration (thousands),480,61,267,313
38,Aaley,Lebanon,33.8000,35.6000,LB,LBN,130000.0,1.422056e+09,"Aaley, Lebanon",202.0,...,44.7,37.4,39.6,93.9,94.7,Net migration (thousands),-7,0,-41,-115
39,Aalsmeer,Netherlands,52.2667,4.7500,NL,NLD,31991.0,1.528900e+09,"Aalsmeer, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
40,Aalst,Belgium,50.9383,4.0392,BE,BEL,88854.0,1.056696e+09,"Aalst, Belgium",102.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
41,Aalten,Netherlands,51.9333,6.5833,NL,NLD,27120.0,1.528326e+09,"Aalten, Netherlands",126.2,...,61.9,7.0,23.5,22.0,87.5,Net migration (thousands),32,22,36,57
42,Aanekoski,Finland,62.6000,25.7250,FI,FIN,19919.0,1.246710e+09,"Aanekoski, Finland",92.2,...,66.1,10.1,25.1,12.6,62.8,Net migration (thousands),9,2,14,15
43,Aarau,Switzerland,47.4000,8.0500,CH,CHE,21503.0,1.756722e+09,"Aarau, Switzerland",4.0,...,99.8,13.4,35.0,24.0,82.0,Net migration (thousands),59,24,76,24
44,Aarhus,Denmark,56.1572,10.2107,DK,DNK,290598.0,1.208841e+09,"Aarhus, Denmark",36.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
45,Aars,Denmark,56.8032,9.5177,DK,DNK,8657.0,1.208911e+09,"Aars, Denmark",33.0,...,74.7,8.4,27.7,21.1,83.7,Net migration (thousands),9,13,17,23
46,Aarsal,Lebanon,34.1794,36.4208,LB,LBN,50000.0,1.422613e+09,"Aarsal, Lebanon",202.0,...,44.7,37.4,39.6,93.9,94.7,Net migration (thousands),-7,0,-41,-115
47,Aarschot,Belgium,50.9833,4.8333,BE,BEL,29965.0,1.056740e+09,"Aarschot, Belgium",102.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
48,Aartselaar,Belgium,51.1333,4.3833,BE,BEL,14427.0,1.056119e+09,"Aartselaar, Belgium",102.7,...,65.7,6.9,36.8,61.6,83.8,Net migration (thousands),7,32,55,52
49,Ab Pakhsh,Iran,29.3606,51.0683,IR,IRN,18913.0,1.364463e+09,"Ab Pakhsh, Iran",323.0,...,28.4,39.1,51.8,80.4,71.0,Net migration (thousands),"1,375",395,128,28

In [106]:
# Filter columns from merged_cities_filled_df_clean excluding '1990', '2000', and '2010'
cities_kpi_final = cities_kpi_final.drop(columns=['1990', '2000', '2010'], errors='ignore')

cities_kpi_final.head()

,City_x,Country_x,Lat,Lng,iso2,iso3,Population,ID,"City, Country",Rank_x,...,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index_y,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,key,Net migration (thousands)
0,'Ain Abessa,Algeria,36.3000,5.2950,DZ,DZA,16770.0,1.012074e+09,"'Ain Abessa, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
1,'Ain Abid,Algeria,36.2325,6.9440,DZ,DZA,31743.0,1.012018e+09,"'Ain Abid, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
2,'Ain Arnat,Algeria,36.1833,5.3167,DZ,DZA,43551.0,1.012453e+09,"'Ain Arnat, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
3,'Ain Azel,Algeria,35.8433,5.5219,DZ,DZA,48487.0,1.012746e+09,"'Ain Azel, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19
4,'Ain Babouche,Algeria,35.9411,7.1856,DZ,DZA,16129.0,1.012031e+09,"'Ain Babouche, Algeria",308.0,...,92.9,57.9,67.5,53.5,12.2,36.1,49.8,77.7,Net migration (thousands),-19

In [107]:
# merged_cities_filled_df.to_csv("/content/drive/MyDrive/Colab Notebooks/DE/Project/Modified_csvs/merged_cities_filled.csv", index=False)

# merged_cities_filled_df.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Modified_csvs\123.csv", index=False)

cities_kpi_final.to_csv(r"C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\modified_csvs\cities_kpis_final2.csv", index=False)