In [15]:
import pandas as pd

# Replace 'file_path.txt' with the actual path to your text file
df = pd.read_csv(r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\unique_cities filled.txt', sep=':', header=None, names=['City', 'DELETE', 'Net_migration','First_language', 'Second_language', 'external_migration_destination'])

In [16]:

df.head()

,City,DELETE,Net_migration,First_language,Second_language,external_migration_destination
0,Tirana,1.38 / Albanian / Greek / Italy,NaN,NaN,NaN,NaN
1,Durres,0.98 / Albanian / Greek / Italy,NaN,NaN,NaN,NaN
2,Vlore,0.51 / Albanian / Greek / Italy,NaN,NaN,NaN,NaN
3,Kamez,0.62 / Albanian / Greek / Italy,NaN,NaN,NaN,NaN
4,Fier,0.65 / Albanian / Greek / Italy,NaN,NaN,NaN,NaN

In [17]:
# Split the 'DELETE' column into multiple columns
df[['Net_migration', 'First_language', 'Second_language', 'external_migration_destination']] = df['DELETE'].str.split('/', expand=True)

# Drop the 'DELETE' column
df.drop(columns=['DELETE'], inplace=True)

# Display the DataFrame
df.head()

,City,Net_migration,First_language,Second_language,external_migration_destination
0,Tirana,1.38,Albanian,Greek,Italy
1,Durres,0.98,Albanian,Greek,Italy
2,Vlore,0.51,Albanian,Greek,Italy
3,Kamez,0.62,Albanian,Greek,Italy
4,Fier,0.65,Albanian,Greek,Italy

In [18]:
# Export the DataFrame to a CSV file
df.to_csv(r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\merged_csvs\cities_missing_data.csv', index=False)

# Print message
print("DataFrame has been successfully exported to CSV.")

DataFrame has been successfully exported to CSV.