In [5]:
import pandas as pd

# Replace 'file_path.txt' with the actual path to your text file
df = pd.read_csv(r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\new_scraping_scripts\cities_listed_mig.txt', sep=':', header=None, names=['City','Net_migration'])
# df = pd.read_csv('cities_listed_mig')

In [6]:

df.head()

             City  Net_migration
0          Aachen           0.42
1         Aalborg          -0.13
2  Aarhus-Denmark           0.78
3        Aberdeen          -0.25
4       Abu-Dhabi           2.16

In [7]:
# Export the DataFrame to a CSV file
df.to_csv(r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\new_scraping_scripts\cities_missing_data.csv', index=False)

# Print message
print("DataFrame has been successfully exported to CSV.")

DataFrame has been successfully exported to CSV.