In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup
print(selenium.__version__)

4.21.0

In [18]:
# Read data from excel
# Read the Excel file
file_path = '../migration_dbf.xlsx'  # Replace with your file path
sheet_name = 'scrape'  # Replace with your sheet name
column_name_city = 'city_scrape'  # Replace with your column name
column_name_country = 'country_scrape'  # Replace with your column name

# Load the Excel file
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Convert the column to a list
city_list = df[column_name_city].tolist()
country_list = df[column_name_country].tolist()

# final list
city_names = []
city_names_bis = []
for idx,city in enumerate(city_list):
    city_names.append(city_list[idx])
    city_names_bis.append(str(city_list[idx])+'-'+str(country_list[idx]))

In [19]:
df.head()

,index,country,city,Lat,Lng,iso2,iso3,Population,MIGRATION AS A % OF POPULATION/ country,total_net_migration_2022 / country,net_mig_per_thousand_people_2023 / country,Data Year 2,Data Year 3,Population Growth Rate (PGR) Year 2 to Year 3 (%),city_net_migration,city_scrape,country_scrape
0,0.000000,Afghanistan,Kabul,34.5253,69.1783,AF,AFG,4273156.0,0.370162,-65846.0,-0.1,2010.0,2020.0,3.100417,-111660.585408,Afghanistan,Kabul
1,1.000000,Albania,Durres-Albania,41.3133,19.4458,AL,ALB,175110.0,1.696087,-8000.0,-3.2,NaN,NaN,0.180000,1391.384603,Albania,Durres-Albania
2,3.000000,Albania,Elbasan-Albania,41.1111,20.0806,AL,ALB,78703.0,1.696087,-8000.0,-3.2,NaN,NaN,-1.100000,-368.258300,Albania,Elbasan-Albania
3,4.333333,Albania,Shkoder,42.0681,19.5119,AL,ALB,112276.0,1.696087,-8000.0,-3.2,NaN,NaN,0.800000,-2011.951538,Albania,Shkoder
4,5.833333,Albania,Tirana,41.3289,19.8178,AL,ALB,418495.0,1.696087,-8000.0,-3.2,NaN,NaN,1.500000,-3622.062041,Albania,Tirana

In [5]:
# Initialize WebDriver

# Set up Chrome options to run in headless mode
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run Chrome in headless mode

# Set up the WebDriver with the Chrome options
driver = webdriver.Chrome(options=chrome_options)
# driver = webdriver.Chrome()  # Assuming you're using Chrome

# Base URL
url_base = 'https://www.numbeo.com/quality-of-life/in/'

# Initialize an empty DataFrame
df_capital_all = pd.DataFrame(columns=[
    'index',
    'city',
    'climate_index',
    'cost_of_living_index',
    'health_care_index',
    'pollution_index',
    'property_price_to_income_ratio',
    'purchasing_power_index',
    'safety_index',
    'traffic_commute_time_index',
    'quality_of_life_index'
])

In [14]:
df.shpe(20)

,index,country,city,Lat,Lng,iso2,iso3,Population,MIGRATION AS A % OF POPULATION/ country,total_net_migration_2022 / country,net_mig_per_thousand_people_2023 / country,Data Year 2,Data Year 3,Population Growth Rate (PGR) Year 2 to Year 3 (%),city_net_migration,city_scrape,country_scrape
0,0.000000,Afghanistan,Kabul,34.5253,69.1783,AF,AFG,4273156.0,0.370162,-65846.0,-0.1,2010.0,2020.0,3.100417,-111660.585408,Afghanistan,Kabul
1,1.000000,Albania,Durres-Albania,41.3133,19.4458,AL,ALB,175110.0,1.696087,-8000.0,-3.2,NaN,NaN,0.180000,1391.384603,Albania,Durres-Albania
2,3.000000,Albania,Elbasan-Albania,41.1111,20.0806,AL,ALB,78703.0,1.696087,-8000.0,-3.2,NaN,NaN,-1.100000,-368.258300,Albania,Elbasan-Albania
3,4.333333,Albania,Shkoder,42.0681,19.5119,AL,ALB,112276.0,1.696087,-8000.0,-3.2,NaN,NaN,0.800000,-2011.951538,Albania,Shkoder
4,5.833333,Albania,Tirana,41.3289,19.8178,AL,ALB,418495.0,1.696087,-8000.0,-3.2,NaN,NaN,1.500000,-3622.062041,Albania,Tirana
5,7.333333,Algeria,Algiers,36.7539,3.0589,DZ,DZA,3415811.0,0.570974,-9999.0,-0.4,NaN,NaN,1.730000,-60588.512417,Algeria,Algiers
6,8.833333,Algeria,Annaba-Algeria,36.9000,7.7667,DZ,DZA,257359.0,0.570974,-9999.0,-0.4,2010.0,2020.0,0.525149,-3444.202627,Algeria,Annaba-Algeria
7,10.333333,Algeria,Constantine-Algeria,36.3500,6.6000,DZ,DZA,465138.0,0.570974,-9999.0,-0.4,NaN,NaN,1.930000,-917.403254,Algeria,Constantine-Algeria
8,11.833333,Algeria,Oran-Algeria,35.6969,-0.6331,DZ,DZA,101009.0,0.570974,-9999.0,-0.4,NaN,NaN,2.200000,-2289.192245,Algeria,Oran-Algeria
9,13.333333,Algeria,Setif-Algeria,36.1900,5.4100,DZ,DZA,288461.0,0.570974,-9999.0,-0.4,NaN,NaN,2.400000,-2586.042016,Algeria,Setif-Algeria
10,14.833333,Andorra,Andorra-La-Vella,42.5000,1.5000,AD,AND,22615.0,58.984016,200.0,0.0,NaN,NaN,0.110000,542.438211,Andorra,Andorra-La-Vella
11,16.333333,Angola,Luanda,-8.8383,13.2344,AO,AGO,9051000.0,1.997288,-1000.0,-0.2,NaN,NaN,0.500000,-260211.017538,Angola,Luanda
12,17.833333,Argentina,Buenos-Aires,-34.6033,-58.3817,AR,ARG,16710000.0,5.048542,3886.0,-0.1,2010.0,2020.0,0.382962,-379464.178016,Argentina,Buenos-Aires
13,19.333333,Argentina,Cordoba,-31.4167,-64.1833,AR,ARG,2106734.0,5.048542,3886.0,-0.1,NaN,NaN,0.290000,-38436.940011,Argentina,Cordoba
14,20.833333,Argentina,Mar-Del-Plata-Argentina,-38.0000,-57.5500,AR,ARG,682605.0,5.048542,3886.0,-0.1,NaN,NaN,0.500000,-11996.522262,Argentina,Mar-Del-Plata-Argentina
15,22.333333,Argentina,Rosario,-32.9575,-60.6394,AR,ARG,1276000.0,5.048542,3886.0,-0.1,2010.0,2020.0,1.285262,-32241.513171,Argentina,Rosario
16,23.833333,Armenia,Yerevan,40.1814,44.5144,AM,ARM,1075800.0,6.423691,-5000.0,-5.3,NaN,NaN,0.600000,6269.703630,Armenia,Yerevan
17,25.333333,Australia,Adelaide,-34.9275,138.6000,AU,AUS,1295714.0,30.140768,139991.0,6.4,2010.0,2020.0,0.842242,22382.595647,Australia,Adelaide
18,26.833333,Australia,Brisbane,-27.4678,153.0281,AU,AUS,2360241.0,30.140768,139991.0,6.4,NaN,NaN,1.240000,37630.833889,Australia,Brisbane
19,28.333333,Australia,Canberra,-35.2931,149.1269,AU,AUS,381488.0,30.140768,139991.0,6.4,2010.0,2020.0,0.896651,7782.497163,Australia,Canberra

In [6]:
# Fetch data using Selenium

for idx,city in enumerate(city_names):
    
    try:

        url_city = url_base + city_names[idx]
        driver.get(url_city)

        # Find Table element
        tbl_quality = driver.find_element(By.XPATH, '/html/body/div[2]/table')  # if there's no ID, always a good idea to copy xpath

        
        # Parse Table element into pandas DataFrame
        tbl_quality_html = tbl_quality.get_attribute('outerHTML')
        soup = BeautifulSoup(tbl_quality_html, 'html.parser')

        # Find all table rows in the parsed HTML
        tbl_quality_rows = soup.find_all('tr')

        # Initialize data list
        data_cost = []
        for row in tbl_quality_rows:
                row_data = []
                cells = row.find_all(['td', 'th'])
                for cell in cells:
                    row_data.append(cell.get_text().strip())
                data_cost.append(row_data)

        # Extract header and data rows separately
        header = ['kpi_name','kpi_value','kpi_hml']

        # Create DataFrame
        df_capital = pd.DataFrame(data_cost, columns=header)

        # Clean data
        df_capital['Index'] = idx
        df_capital['City'] = city_names[idx]
        df_capital.drop(columns=['kpi_hml'], inplace=True)
        df_capital['kpi_value'] = pd.to_numeric(df_capital['kpi_value'], errors='coerce')
        # df_capital = df_capital[~df_capital['kpi_name'].isna()].copy()
        df_capital.drop(8, inplace=True)


        # Transpose df
        df_capital_t = df_capital.pivot_table(index=['Index','City'], columns='kpi_name', values='kpi_value', dropna=False)
        df_capital_t.reset_index(inplace=True)
        df_capital_t.columns = df_capital_all.columns

        # Append data to complete DF
        df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)

    except:

        try:

            url_city = url_base + city_names_bis[idx]
            driver.get(url_city)

            # Find Table element
            tbl_quality = driver.find_element(By.XPATH, '/html/body/div[2]/table')  # if there's no ID, always a good idea to copy xpath

            
            # Parse Table element into pandas DataFrame
            tbl_quality_html = tbl_quality.get_attribute('outerHTML')
            soup = BeautifulSoup(tbl_quality_html, 'html.parser')

            # Find all table rows in the parsed HTML
            tbl_quality_rows = soup.find_all('tr')

            # Initialize data list
            data_cost = []
            for row in tbl_quality_rows:
                    row_data = []
                    cells = row.find_all(['td', 'th'])
                    for cell in cells:
                        row_data.append(cell.get_text().strip())
                    data_cost.append(row_data)

            # Extract header and data rows separately
            header = ['kpi_name','kpi_value','kpi_hml']

            # Create DataFrame
            df_capital = pd.DataFrame(data_cost, columns=header)

            # Clean data
            df_capital['Index'] = idx
            df_capital['City'] = city_names_bis[idx]
            df_capital.drop(columns=['kpi_hml'], inplace=True)
            df_capital['kpi_value'] = pd.to_numeric(df_capital['kpi_value'], errors='coerce')
            # df_capital = df_capital[~df_capital['kpi_name'].isna()].copy()
            df_capital.drop(8, inplace=True)


            # Transpose df
            df_capital_t = df_capital.pivot_table(index=['Index','City'], columns='kpi_name', values='kpi_value', dropna=False)
            df_capital_t.reset_index(inplace=True)
            df_capital_t.columns = df_capital_all.columns

            # Append data to complete DF
            df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)

        except:
             
             # Append NANs
            emtpy_dict = {
            'index':[idx]
            ,'city':[city_names[idx]]
            ,'climate_index':[pd.NA]
            , 'cost_of_living_index':[pd.NA]
            ,'health_care_index':[pd.NA]
            ,'pollution_index':[pd.NA]
            ,'property_price_to_income_ratio':[pd.NA]
            ,'purchasing_power_index':[pd.NA]
            ,'safety_index':[pd.NA]
            ,'traffic_commute_time_index':[pd.NA]
            ,'quality_of_life_index':[pd.NA]
            }
            df_capital_t = pd.DataFrame.from_dict(emtpy_dict)
            df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)

C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)
C:\Users\paude\AppData\Local\Temp\ipykernel_17424\3857597324.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_capital_all = pd.concat([df_capital_all,df_capital_t], axis=0)

In [9]:
# Merge Net Migration from original df

df_capital_all.reset_index(drop=True, inplace=True)
df_capital_all.drop_duplicates(subset='city', inplace=True)
df_capital_all = df_capital_all.merge(df['city_net_migration'], left_index=True, right_index=True, how='left')

# Drop entries with NAN in all indexes
index_cols = [
    'climate_index'	
    ,'cost_of_living_index'
    ,'health_care_index'
    ,'pollution_index'
    ,'property_price_to_income_ratio'
    ,'purchasing_power_index'
    ,'safety_index'
    ,'traffic_commute_time_index'
    ,'quality_of_life_index'
    ]

df_capital_all = df_capital_all.dropna(subset=index_cols, how='all')
df_capital_all.head(20)

,index,city,climate_index,cost_of_living_index,health_care_index,pollution_index,property_price_to_income_ratio,purchasing_power_index,safety_index,traffic_commute_time_index,quality_of_life_index,city_net_migration
58,260,Hong-Kong,83.64,71.45,65.96,67.01,29.29,109.37,78.39,41.90,135.15,180.037040
83,377,Luxembourg,82.62,61.54,78.17,19.64,9.01,177.46,70.98,26.56,223.74,3553.632870
88,385,Malta,97.44,60.06,53.24,74.23,21.76,53.37,63.13,30.75,114.06,1078.797793
93,399,Monaco,94.90,108.82,75.00,70.65,61.31,60.21,75.54,22.50,92.94,-23012.555397
128,555,Singapore,57.45,78.02,71.92,32.52,18.62,109.21,76.94,40.73,161.61,144885.361415

In [10]:
len(df_capital_all['city'].unique())

5

In [11]:
df_capital_all.shape

(5, 12)

In [40]:
df[df['city_scrape']=='Buenos-Aires'].head()

,City,Country,Lat,Lng,iso2,iso3,Population,MIGRATION AS A % OF POPULATION/ country,total_net_migration_2022 / country,net_mig_per_thousand_people_2023 / country,CITY,Data Year 2,Data Year 3,Population Growth Rate (PGR) Year 2 to Year 3 (%),Net Migration Rate per person: \n(Net migration per 1000 people/1000),city_net_migration,City Population Adjusted\n(Pcity x (1+(PGR/100),Adjusted City Net Migration:,country_scrape,city_scrape
20,Buenos Aires,Argentina,-34.6033,-58.3817,AR,ARG,16710000.0,5.048542,3886,-0.1,Buenos Aires,2010.0,2020.0,0.382962,-0.0001,-1671.0000,1.677399e+07,-1677.399298,Argentina,Buenos-Aires
104,Buenos Aires,Brazil,-7.7258,-35.3269,BR,BRA,12808.0,0.507956,6425,-0.2,Buenos Aires,2010.0,2020.0,0.382962,-0.0002,-2.5616,1.285705e+04,-2.571410,Brazil,Buenos-Aires
211,Buenos Aires,Colombia,2.9167,-76.6667,CO,COL,35197.0,3.744664,-167924,-1.9,Buenos Aires,2010.0,2020.0,0.382962,-0.0019,-66.8743,3.533179e+04,-67.130403,Colombia,Buenos-Aires
250,Buenos Aires,Costa Rica,9.1985,-83.2816,CR,CRI,29454.0,10.222170,3850,2.0,Buenos Aires,2010.0,2020.0,0.382962,0.0020,58.9080,2.956680e+04,59.133595,Costa-Rica,Buenos-Aires

In [36]:
df_capital_all.shape

(516, 12)

In [34]:
df_capital_all.to_csv('test_out_final_3.csv')

In [44]:
# Define the file path
file_path = r'C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_migration.csv'

# Export DataFrame to a CSV file
df_capital_all.to_csv(file_path, index=False)

print("DataFrame exported successfully to:", file_path)

DataFrame exported successfully to: C:\Users\paude\Documents\00. Backup 2023\EXTERIOR\MASTER\MA IAAC\03. Cursada\01. Modulo 03\S01 DE\Class Project\DE_Team\Scraped_csvs\data_migration.csv